{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
{% include 'nav.html' %}

<div class="container mt-5">
  <!-- Button trigger modal -->
  <button type="button" class="rc-btn mt-5" data-bs-toggle="modal" data-bs-target="#review_updateModal">
    관람 후기 등록
    <i class="fa-solid fa-pen"></i>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="review_updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{ play.playname }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Review-Form -->
          <form id="review-create" action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form review_form %}
            {% bootstrap_form reviewPhoto_form %}
          </form>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="submit" class="rc-btn" data-bs-dismiss="modal">취소</button>
          <button type="submit" class="rc-btn" onclick="document.forms['review-create'].submit();">등록</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'sub-footer.html' %}
{% endblock content %}