{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
{% include 'main-nav.html' %}

<p>리뷰제목: {{ review.title }}</p>
<hr>
<p>리뷰내용: {{ review.content }}</p>
<hr>
{% for photo in review.reviewphoto_set.all %}

<div style="width: 5rem; height: 5rem;">
  <img src="{{ photo.image.url }}" alt="" style="height: 5rem; width:5rem;">
</div>
{% endfor %}
  <a href="{% url 'reviews:update' review.pk %}">수정하기</a>
  <form action="{% url 'reviews:delete' review.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제하기">
  </form>
<hr>

{% comment %} 댓글생성 {% endcomment %}
{% if request.user.is_authenticated %}
<form id="comment-form" data-review-id="{{ review.pk }}">
  {% csrf_token %}
  {% bootstrap_form comment_form %}
  <input type="submit" value="댓글생성">
</form>
{% endif %}

{% comment %} 댓글 출력 {% endcomment %}
<div id="comments">
  {% for comment in comments %}
  <p>{{ comment.user }}:{{ comment.content }} <span>
    <a class="btn btn-danger float-end" href="{% url 'reviews:comment_delete' comment.pk %}">댓글삭제</a>
  </span></p>
  <hr>
  {% endfor %}
</div>

{% endblock content %}
{% include 'sub-footer.html' %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const commentForm = document.querySelector('#comment-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  
  commentForm.addEventListener('submit', function(event){
    event.preventDefault()

    axios({
      method: 'post',
      url: `/reviews/${event.target.dataset.reviewId}/comment_create/`,
      headers: {'X-CSRFToken': csrftoken},
      data: new FormData(commentForm)
    })
    .then(response => {
      console.log(response.data)

      const comments = document.querySelector('#comments')
      const p = document.createElement('p')
      p.innerText = `${response.data.userName}:${response.data.content}`
      const hr = document.createElement('hr')
      comments.append(p, hr)
      commentForm.reset()
    })
  })
</script>
{% endblock js %}
