{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
{% include 'main-nav.html' %}

<p>리뷰제목: {{ review.title }}</p>
<hr>
<p>리뷰내용: {{ review.content }}</p>
<hr>
{% for photo in review.reviewphoto_set.all %}

<div style="width: 5rem; height: 5rem;">
  <img src="{{ photo.image.url }}" alt="" style="height: 5rem; width:5rem;">
</div>
{% endfor %}
  <a href="{% url 'reviews:update' review.pk %}">수정하기</a>
  <form action="{% url 'reviews:delete' review.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제하기">
  </form>
<hr>
<form action="{% url 'reviews:comment_create' review.pk %}" method="POST">
  {% csrf_token %}
  {% bootstrap_form comment_form %}
  <input type="submit" value="댓글생성">
</form>
{% for comment in comments %}
<p>{{ comment.user }}:{{ comment.content }}</p>
<hr>
{% endfor %}

{% include 'sub-footer.html' %}
{% endblock content %}