/* Detail */
.profile-detail {
  display: flex;
}

.pd__img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.pd__img img {
  width: 100%;
  background-color: #adb5bd;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pd__info-top {
  display: flex;
  align-items: center;
}

.pd__info__username {
  display: flex;
}

.pd__info__btn {
  display: flex;
  align-items: center;
}

.pd__info__btn-arrow {
  border: 1px solid var(--gray-light--color);
  border-radius: 5px;
  padding: 3px 5px;
  margin-right: 10px;
}

.pd__info-bottom {
  display: flex;
  align-items: center;
}

.pd__email {
  color: #01376A;
}


/* Detail-Modal-Hover */
.accounts-modal p:hover {
  background-color: var(--gray-light--color);
}
.accounts-modal a:first-child p:hover {
  background-color: var(--gray-light--color);
  border-radius: 10px 10px 0 0;
}
.accounts-modal a:last-child p:hover {
  background-color: var(--gray-light--color);
  border-radius: 0 0 10px 10px;
}

.like-outbox {
  width: 100%;
  height: auto;
}

.like-box {
  display: inline-block;
  width: 30%;
  height: 25vw;
  border: 1px solid var(--gray-color);
  margin: 0 35px 35px 0;
}

.like-box__item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.like-box__item img {
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img__description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 18px;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.img__description__count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.like-box__item:hover .img__description {
  visibility: visible;
  opacity: 1;
}

/* login */
.login_bg {
  background-color: #ffffff;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.box_bg {
  backdrop-filter: blur(15px) saturate(200%);
  -webkit-backdrop-filter: blur(15px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 12px;
  box-shadow: 5px 5px 5px #bec4ca;
  border: 1px solid rgba(209, 213, 219, 0.3);
  margin-top: .9375rem;
  height: auto;
}
/* accounts btn */
.social_btn{
  width: 43px;
  height: 42px;
  object-fit: fill;
}
.account_btn{
  background-color: rgb(238, 170, 65);
  ;
   color: rgb(255, 255, 255);
}
.account_btn:hover{
  background-color: rgb(255, 206, 132);
   opacity: 60%;
   color: rgb(243, 240, 240);
}
/* signup */
.input_form {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
}
.input_form input {
  width: 100%;
  height: 5vh;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, .125);
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, .5);
  padding-left: 1rem;
}
.input_form input:active {
  border: none;
   box-shadow: none;
}
.input_form button {
  position: absolute;
  background-color: rgb(238, 170, 65);
  color: white;
  border-radius: 7px;
  border: 1px solid rgba(241, 195, 68, 0.125);
  width: 7rem;
  height: 3.5vh;
  right: 2%;
  margin-top: 1.5%;
}
.input_form button:hover{
  background-color: rgb(224, 173, 158);
  opacity: 90%;
  color: rgb(243, 240, 240);
}
.input_form p {
  margin-top: 1rem;
  color: red;
}
div[class="submitBtn"] div[id="result-check"] {
  display: none;
}
.password_form {
  position: relative;
  width: 100%;
}
.password_form input {
  width: 100%;
  height: 5vh;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, .125);
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, .5);
  padding-left: 1rem;
}
.email_form {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.email_form input {
  width: 100%;
  height: 5vh;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, .125);
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, .5);
  padding-left: 1rem;
}
.email_form p {
  vertical-align: bottom;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 1rem;
}
select.box {
  width: 100%;
  height: 5vh;
  box-sizing: border-box;
  margin-left: 5px;
  padding: 5px 0 5px 10px;
  border-radius: 4px;
  border: 1px solid #d9d6d6;
  color: #383838;
  background-color: #ffffff;
  cursor: pointer;
  font-family: 'Montserrat', 'Pretendard', sans-serif;
}
option {
  font-size: 16px;
}


/* Profile Followings button */
.followings,
#followings-btn {
  display: none;
}
#followings-btn:checked ~ .followings {
  display: block;
}
