/* Footer */
.cont{
    width: 1200px;
}
 .footer-txt{
    height:165px;
}
 .flogo{
    width:250px;
     height:250px;
}
 .footertxt{
    top: 22px;
     left: 221px;
}
 .github{
    font-size: 13px;
}

