/* Root */
:root {
  /* Color */
  --white-color: #f7f7f7;
  --main-color: #ec7d2c;
  --gray-color: #adb5bd;
  --gray-light-color:#e6e5e5;
  --gray-dark-color:#6c757d;
  --dark-color: #3E3E3E;
  
  /* Font-size */
  --xlarge-font: 36px;
  --large-font: 24px;
  --middle-font: 18px;
  --small-font: 14px;

  /* Space */
  --base-space: 8px;
}


/* Review-Create */
.rc-btn {
  border: none;
  background: none;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 5px 30px;
}

.rc-btn:nth-child(1),
.rc-btn:last-child {
  padding: 10px 50px;
}

.rc-btn:last-child {
  background: var(--main-color);
  color: var(--white-color);
}

#image_field::file-selector-button {
  display: none;
}

/* Update Form */
#review-update {
  display: flex;
  flex-direction: column;
}

#review-update label {
  margin: 10px 0;
}

#review-update label:first-child {
  margin-top: 0;
}

#images {
  height: 100px;
  width: 100px;
  border: 1px dashed #adb5bd;
  color: #adb5bd;
}

form input::file-selector-button {
  display: none;
}

/* review-list */
.review-area-create {
  padding: 14px 0 14px 48px;
   background: url(http://tkfile.yes24.com/imgNew/common/rn-ico-dot.png)no-repeat left 14px;
   position: relative;
}
.review-area-create p {
  font-size: 14px;
  line-height: 20px;
  color: #ed4037;
}
.review-area-create a {
  display: block;
  position: absolute;
  right: 0;
  top: 17px;
}
.review-list {
  margin: auto;
}
.review-list li {
  max-height: 280px;
  overflow: hidden;
  position: relative;
}
.review-list li .ttbox {
  width: 100%;
  height: 40px;
  position: relative;
  margin-bottom: 21px;
  margin-top: 5px;
}
.review-list li .ttbox .tt1 {
  top: 20px;
  width: 43px;
  height: 17px;
  line-height: 19px;
  padding: 2px;
  border: 1px solid #ec7d2c;
  border-radius: 30px;
  color: #ec7d2c;
  font-size: 12px;
  text-align: center;
  margin-right: 10px;
}
.review-list li .ttbox .tt2 {
  top: 19px;
  height: 20px;
  line-height: 20px;
  color: #333;
  font-size: 15px;
}
.review-list li .ttbox .tt3 {
  top: 19px;
  height: 20px;
  line-height: 20px;
  color: #333;
  font-size: 13px;
  padding-left: 18px;
  margin-right: 17px;
  letter-spacing: 0.05em;
}
.review-list li .ttbox .tt4 {
  top: 20px;
  margin-right: 15px;
}
.review-list li .ttbox .tt4 img{
  display: inline-block;
  margin: 0px;
}
.review-list li .reviewbox {
  display: flex;
}
.review-list li .reviewbox .textbox {
  position: absolute;
  height:80px;
  width: 1086px;
  font-size: 15px;
  line-height: 22px;
  margin-left:110px;
  color: #666;
  background-color: #ffffff;
}
.review-list li .reviewbox img{
  width: 100px;
  height: 80px;
  margin-right:20px;
}
