/* Root */
:root {
  /* Color */
  --white-color: #f7f7f7;
  --main-color: #ec7d2c;
  --gray-color: #adb5bd;
  --gray-light-color:#e6e5e5;
  --gray-dark-color:#6c757d;
  --dark-color: #3E3E3E;
  
  /* Font-size */
  --xlarge-font: 36px;
  --large-font: 24px;
  --middle-font: 18px;
  --small-font: 14px;

  /* Space */
  --base-space: 8px;
}


/* Review-Create */
.rc-btn {
  border: none;
  background: none;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 5px 30px;
}

.rc-btn:nth-child(1),
.rc-btn:last-child {
  padding: 10px 50px;
}

.rc-btn:last-child {
  background: var(--main-color);
  color: var(--white-color);
}

#image_field::file-selector-button {
  display: none;
}


/* Update Form */
#review-update {
  display: flex;
  flex-direction: column;
}

#review-update label {
  margin: 10px 0;
}

#review-update label:first-child {
  margin-top: 0;
}

#images {
  height: 100px;
  width: 100px;
  border: 1px dashed #adb5bd;
  color: #adb5bd;
}

form input::file-selector-button {
  display: none;
}