@import './main.css';


/* Root */
:root {
  /* Color */
  --white-color: #f7f7f7;
  --main-color: #ec7d2c;
  --gray-color: #adb5bd;
  --gray-light-color:#e6e5e5;
  --gray-dark-color:#6c757d;
  --dark-color: #3E3E3E;
  
  /* Font-size */
  --xlarge-font: 36px;
  --large-font: 24px;
  --middle-font: 18px;
  --small-font: 14px;

  /* Space */
  --base-space: 8px;
}


/* Global */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a:link { 
  color: black; 
  text-decoration: none;
}
a:visited { 
  color: black; 
  text-decoration: none;
}
a:hover { 
  color: black; 
  text-decoration: none;
}

.gray {
  color: var(--gray-color);
}

.emp {
  width: 50px;
  height: 50px;
}

.line {
  width: 2px;
  height: 100px;
  background-color: var(--gray-light-color);
  margin: 0 15px;
}


/* Main-Nav */
.main-nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  color: var(--white-color);
}

.main-nav__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-nav__logo {
  display: flex;
  align-items: center;
}

.m-nav__nav {
  display: flex;
}

.m-nav__nav__item {
  display: flex;
  align-items: center;
  margin-right: calc(var(--base-space) * 2);
  font-size: var(--large-font);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--main-color);
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
} 

.m-nav__nav__item a {
  color: var(--white-color);
  text-decoration: none;
}

.m-nav__search {
  display: flex;
  align-items: center;
}

/* Search-Form */
#search_type {
  border: none;
  background-color: transparent;
  border-bottom: 3px solid var(--white-color);
  width: 240px;
  border-left-width:0;
  border-right-width:0;
  border-top-width:0;
}

.m-nav__search i {
  margin-left: calc(var(--base-space) * 2);
  padding-bottom: 3px;
  color: var(--white-color);
}


/* Visual */
.visual {
  width: 100%;
  height: 700px;
  overflow: hidden;
}

/* Nav */
.nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: rgb(0, 0, 0);
  }

  .nav__nav__item a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .nav__nav__item {
    display: flex;
    align-items: center;
    margin-right: calc(var(--base-space) * 2);
    font-size: var(--large-font);
  }
  #search_type_1 {
    border: none;
    background-color: transparent;
    border-bottom: 3px solid rgb(0, 0, 0);
    width: 240px;
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
  }
  
  .nav__search i {
    margin-left: calc(var(--base-space) * 2);
    padding-bottom: 3px;
    color: rgb(0, 0, 0);
  }
  
  .nav__search {
    display: flex;
    align-items: center;
  }
/* Footer */
.cont{
  width: 1200px;
}

.footer-txt{
  height: 165px;
}
.flogo{
  width:250px;
  height:250px;
}
.footertxt{
  top: 22px;
  left: 221px;
}
.github{
  font-size: 13px;
}


/* Sub-Footer */
.sf-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0;
}

.sf-number {
  color: var(--main-color);
  font-weight: 700;
  margin-bottom: 14px;
}

.sf-walking {
  font-size: 14px;
}

.sf-walking th {
  color: var(--gray-color);
  width: 50px;  
  
}

.sf-center {
  display: flex;
  padding-top: 15px;
}

.sf-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.sf-item p {
  font-weight: 500;
  margin-top: 15px;
}

.sf-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sf-right i {
  color: var(--gray-color);
  margin-right: 14px;
}

.sf-social {
  margin-top: var(--base-space);
}

.sf-social span {
  color: var(--gray-color);
  font-size: 8px;  
  margin-right: var(--base-space);
}

.sf-social span i {
  margin: 0;
  margin-right: 5px;
}

/* 로그인 */

.login_bg {
    background-color: #ffffff;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}
.box_bg {
    backdrop-filter: blur(15px) saturate(200%);
    -webkit-backdrop-filter: blur(15px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 12px;
    box-shadow: 5px 5px 5px #bec4ca;
    border: 1px solid rgba(209, 213, 219, 0.3);
    margin-top: .9375rem;
    height: auto;
}
/* accounts 버튼들*/
.social_btn{
    width: 43px;
    height: 42px;
    object-fit: fill;
}

.account_btn{
    background-color:  rgb(238, 170, 65);;
    color: rgb(255, 255, 255);
    
}

.account_btn:hover{
    background-color:  rgb(255, 206, 132);
    opacity: 60%;
    color: rgb(243, 240, 240);
}
/*회원가입 */
.input_form {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
}

.input_form input {
    width: 100%;
    height: 5vh;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, .125);
    box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, .5);
    padding-left: 1rem;
}

.input_form input:active {
    border: none;
    box-shadow: none;
}

.input_form button {
    position: absolute;
    background-color: rgb(238, 170, 65);
    color: white;
    border-radius: 7px;
    border: 1px solid rgba(241, 195, 68, 0.125);
    width: 7rem;
    height: 3.5vh;
    right: 2%;
    margin-top: 1.5%;
}

.input_form button:hover{
    background-color: rgb(224, 173, 158);
    opacity: 90%;
    color: rgb(243, 240, 240);
}
.input_form p {
    margin-top: 1rem;
    color: red;
}

div[class="submitBtn"] div[id="result-check"] {
    display: none;
}

.password_form {
    position: relative;
    width: 100%;
}

.password_form input {
    width: 100%;
    height: 5vh;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, .125);
    box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, .5);
    padding-left: 1rem;
}

.email_form {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.email_form input {
    width: 100%;
    height: 5vh;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, .125);
    box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, .5);
    padding-left: 1rem;
}

.email_form p {
    vertical-align: bottom;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 1rem;
}

select.box {
    width: 100%;
    height: 5vh;
    box-sizing: border-box;
    margin-left: 5px;
    padding: 5px 0 5px 10px;
    border-radius: 4px;
    border: 1px solid #d9d6d6;
    color: #383838;
    background-color: #ffffff;
    cursor: pointer;
    font-family: 'Montserrat', 'Pretendard', sans-serif;
}

option {
    font-size: 16px;
}