{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container" style="width:50%">

  {% if request.resolver_match.url_name == 'login' %}
    <h1 class="text-center">login</h1>
  {% elif request.resolver_match.url_name == 'pw_change' %}
    <h1 class="text-center">비밀번호 변경</h1>
  {% elif request.resolver_match.url_name == 'update' %}
    <h1 class="text-center">회원정보 수정</h1>
  {% elif request.resolver_match.url_name == 'signup' %}
    <h1 class="text-center">회원가입</h1>
  {% endif %}
  
  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input class="btn btn-outline-primary" type="submit" value="Submit">
  </form>
</div>
  {% endblock content %}