{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
<section class="login_bg">
  <div class="container d-flex justify-content-center">
    <div class="box_bg boxbgwid p-5">

    <h1 class="text-center mb-5">회원 정보 수정</h1>
    
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input class="btn account_btn mt-5" type="submit" value="Submit">
    </form>
    </div>
  </div>
</section>
  {% endblock content %}
