{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}

<section class="list-sec">
  <div><p class="li-sec-tit">
		<span class="li-sec-tit1">콘서트</span>
  <p class="li-sec-tag">
    <span><a style="cursor:pointer;" token="3" class="on">주간랭킹순</a></span>
    <span><a style="cursor:pointer;" token="0">신상품순</a></span>
    <span><a style="cursor:pointer;" token="1">종료임박순</a></span>
  </p>
  <p class="li-sec-result">
    현재 예매 가능한 공연은 총 <span></span> 입니다.
  </p>
  <div class="ms-list-imgs">
    <a style="cursor:pointer;" onclick="" title="">
      <div class="list-bigger-wrap">
        <img class="lazyload" alt="" src="https://dummyimage.com/1200x960/000000/c4c4c4" style=""><div class="list-bigger-txt">
          <p class="list-b-tit1 v2 v2">타이틀</p>
          <p class="list-b-tit2 v2 v2">공연기간</p>
          <p class="list-b-tit2 v2 v2">공연장소</p>
        </div>
      </div>
    </a>
   
  </div>
</section>

{% endblock content %}
  