{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
{% include 'nav.html' %}
<div style="height: 50px;"></div>

<!-- 제목 -->
<div class="perf-title-wrap">
  <div class="perf-content"><!--제목-->
    <h1>{{performance.playname}}</h1>
    <div class="dateloc-data">
      <p>
        <span class="ps-date">{{performance.playstdate}} ~ {{performance.playenddate}}</span>
        <a href="#tit-map" id="ps-location">
          | <span class="ps-location">{{performance.locationname}}</span> 
          <i class="bi bi-geo-alt-fill" style="color: var(--main-color); font-size: 20px;"></i>
        </a>
      </p>
      <!--배포후 공유링크 교체-->
      <div class="pf-social" style="text-align: end;">
        <a href="http://www.facebook.com/sharer.php?u=http://ticket.yes24.com/Perf/41222" target="_blank" class="ps-social-btn1"><img src="http://tkfile.yes24.com/imgNew/common/rn-social-01.png" alt=""></a>
        <a href='https://twitter.com/share?url=http://ticket.yes24.com/Perf/41222&text=%ec%97%b0%ea%b7%b9+%5b%ed%96%89%ec%98%a4%eb%b2%84%5d'  class='ps-social-btn2' target='_blank' ><img src='http://tkfile.yes24.com/imgNew/common/rn-social-02.png' alt='트위터' /></a>
        <a href="javascript:void(0);" class="ps-social-btn3"><img src="http://tkfile.yes24.com/imgNew/common/rn-social-03.png" alt=""></a>
      </div>				
    </div>			
  </div>
</div>


<!-- 상세정보 -->
<div class="perf-content">
  <div class="perf-movieinfo">
    <!-- Info left -->
    <div class="perf-movieinfo-left">
      <img src="{{performance.poster}}" alt="">
      <!--좋아요, 평균별점-->
      <!-- Likes -->
      <div class="d-flex justify-content-evenly" style="padding: 20px 0; border-bottom: 1px solid var(--gray-color);">
        <div class="d-flex">
          {% if request.user.is_authenticated %}
          <!-- Like-Form -->
          <form class="like-forms" data-performance-id="{{ performance.playid }}">
          {% csrf_token %}
            {% if user in performance.like_users.all %}
              <button id="like-{{ performance.playid }}" type="submit" style="background: none; border: 0; color: var(--main-color);">
                <i id="star-{{ performance.playid }}" class="fa-solid fa-heart fa-2x"></i>
              </button>
            {% else %}
              <button id="like-{{ performance.playid }}" type="submit" style="background: none; border: 0; color: var(--main-color);">
                <i id="star-{{ performance.playid }}" class="fa-regular fa-heart fa-2x"></i>
              </button>
            {% endif %}
          </form>
          <div class="ms-3 d-flex align-items-center">
              <span id="like-count" style="color: var(--main-color);">{{ performance.like_users.count }}</span>
              <p class="ms-2">likes</p>
          </div>
          {% else %}
          <a href="{% url 'accounts:login' %}" class="">로그인이 필요합니다.</a>
          {% endif %}
        </div>
        <!-- Grade -->
        <div class="d-flex align-items-center">
          {% if Avg_grade == 5 %}
          <div class="d-flex align-items-center" style="color: var(--gray-color);">
            <i class="fa-solid fa-star" style="color: var(--main-color);"></i>
            <i class="fa-solid fa-star" style="color: var(--main-color);"></i>
            <i class="fa-solid fa-star" style="color: var(--main-color);"></i>
            <i class="fa-solid fa-star" style="color: var(--main-color);"></i>
            <i class="fa-solid fa-star" style="color: var(--main-color);"></i>
            <div class="ms-2" style="color: var(--main-color);">{{Avg_grade}} <span class="ms-1" style="color: var(--dark-color);">Reviews</span></div>
          </div>
          {% elif Avg_grade >= 4 %}
            <div class="d-flex align-items-center" style="color: var(--gray-color);">
              <i class="fa-solid fa-star" style="color: var(--main-color);"></i>
              <i class="fa-solid fa-star" style="color: var(--main-color);"></i>
              <i class="fa-solid fa-star" style="color: var(--main-color);"></i>
              <i class="fa-solid fa-star" style="color: var(--main-color);"></i>
              <i class="fa-regular fa-star"></i>
              <div class="ms-2" style="color: var(--main-color);">{{Avg_grade}} <span class="ms-1" style="color: var(--dark-color);">Reviews</span></div>
            </div>
          {% elif Avg_grade >= 3 %}
            <div class="d-flex align-items-center" style="color: var(--gray-color);">
              <i class="fa-solid fa-star" style="color: var(--main-color);"></i>
              <i class="fa-solid fa-star" style="color: var(--main-color);"></i>
              <i class="fa-solid fa-star" style="color: var(--main-color);"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <div class="ms-2" style="color: var(--main-color);">{{Avg_grade}} <span class="ms-1" style="color: var(--dark-color);">Reviews</span></div>
            </div>
          {% elif Avg_grade >= 2 %}
            <div class="d-flex align-items-center" style="color: var(--gray-color);">
              <i class="fa-solid fa-star" style="color: var(--main-color);"></i>
              <i class="fa-solid fa-star" style="color: var(--main-color);"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <div class="ms-2" style="color: var(--main-color);">{{Avg_grade}} <span class="ms-1" style="color: var(--dark-color);">Reviews</span></div>
            </div>
          {% elif Avg_grade >= 1 %}
            <div class="d-flex align-items-center" style="color: var(--gray-color);">
              <i class="fa-solid fa-star" style="color: var(--main-color);"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <div class="ms-2" style="color: var(--main-color);">{{Avg_grade}} <span class="ms-1" style="color: var(--dark-color);">Reviews</span></div>
            </div>
          {% else %}
            <div class="d-flex align-items-center" style="color: var(--gray-color);">
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <div class="ms-2" style="color: var(--main-color);">{{Avg_grade}} <span class="ms-1" style="color: var(--dark-color);">Reviews</span></div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- Info right -->
    <div class="perf-movieinfo-right">
      <div class="product-area1">
        <dl>
          <dt>장르</dt>
          <dd>{% if performance.genrename == " " %}
            -
            {% else %}
            {{performance.genrename}}
            {% endif %}</dd>
          <dt>등급</dt>
          <dd>{% if performance.age == " " %}
            -
            {% else %}
            {{performance.age}}
            {% endif %}</dd>
          <dt>관람시간</dt>
          <dd>{% if performance.runtime == " " %}
            -
            {% else %}
            {{performance.runtime}}
            {% endif %}</dd>
          <dt>출연</dt>
          <dd>{% if performance.playcast == " " %}
            -
            {% else %}
            {{performance.playcast}}
            {% endif %}</dd>
          <dt>공연상태</dt>
          <dd>{% if performance.playstate == " " %}
            -
            {% else %}
            {{performance.playstate}}
            {% endif %}</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="tabbox">
    <!--상세정보 *나중에 js적용-->
    <a href="#info" style="border-top: 3px solid var(--main-color);">
      <span>상세정보</span>
    </a>
    <!--후기-->
    <a href="#reviews">
      <span>관람후기 ({{ performance.review_set.count }})</span>
    </a>
  </div>
</div>


<!-- 상세정보 이미지 -->
{% if performance.image1 %}
<div class="perf-content" id="info">
  <div class="perf-detailinfo">
    <p class="detail-title">공연정보</p>
    <img src="{{performance.image1}}" alt="">
    <img src="{{performance.image2}}" alt="">
    <img src="{{performance.image3}}" alt="">
    <img src="{{performance.image4}}" alt="">
  </div>
</div>
{% endif %}
  

<!--지도-->
<div class="perf-content-2">
  <p class="tit-map" id="tit-map">
    <span>{{performance.locationname}}</span>
  </p>
  <p class="loc-map">
    <span>{{location.address}}</span>
  </p>
</div>
<div class="perf-content-2" id="map">
  <div id="map" style="width:1200px;height:700px;">
    <div class="map_wrap">
      <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
      <ul id="category">
          <li id="PK6" data-order="0"> 
              <span class="category_bg park"></span>
              주차장
          </li>       
          <li id="OL7" data-order="1"> 
              <span class="category_bg oil"></span>
              주유소
          </li>  
          <li id="CE7" data-order="2"> 
              <span class="category_bg cafe"></span>
              카페
          </li>  
          <li id="FD6" data-order="3"> 
              <span class="category_bg food"></span>
              음식점
          </li>  
          <li id="CS2" data-order="4"> 
              <span class="category_bg store"></span>
              편의점
          </li>      
      </ul>
  </div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5d75b4d8877cf6890293eb3c5930fc1c&libraries=services"></script>
    <script>
      // 마커를 클릭했을 때 해당 장소의 상세정보를 보여줄 커스텀오버레이입니다
      var placeOverlay = new kakao.maps.CustomOverlay({zIndex:1}), 
      contentNode = document.createElement('div'), // 커스텀 오버레이의 컨텐츠 엘리먼트 입니다 
      markers = [], // 마커를 담을 배열입니다
      currCategory = ''; // 현재 선택된 카테고리를 가지고 있을 변수입니다

      var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
      mapOption = { 
        center: new kakao.maps.LatLng({{location.lat}}, {{location.lgt}}), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
      };

      var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
      var playlocation = new kakao.maps.LatLng({{location.lat}}, {{location.lgt}});//극장위치

      //극장위치에 마커 생성
      var marker = new kakao.maps.Marker({
        position: playlocation
      })
      marker.setMap(map)

      //극장설명문
      var iwContent = '<div style="padding:5px;"><p style="font-weight:bold;">{{location.locationname}}</p><p>{{location.address}}</p><p>.</p></div>'
      var iwRemoveable = true; 

      var infowindow = new kakao.maps.InfoWindow({
        map: map, // 인포윈도우가 표시될 지도
        position : playlocation, 
        content : iwContent,
        removable : iwRemoveable
      });
      infowindow.open(map, marker);  

      // 장소 검색 객체를 생성합니다
      var ps = new kakao.maps.services.Places(map); 
      kakao.maps.event.addListener(map, 'idle', searchPlaces);
      // 커스텀 오버레이의 컨텐츠 노드에 css class를 추가합니다 
      contentNode.className = 'placeinfo_wrap';
      addEventHandle(contentNode, 'mousedown', kakao.maps.event.preventMap);
      addEventHandle(contentNode, 'touchstart', kakao.maps.event.preventMap);
      // 커스텀 오버레이 컨텐츠를 설정합니다
      placeOverlay.setContent(contentNode);  
      // 각 카테고리에 클릭 이벤트를 등록합니다
      addCategoryClickEvent();
      // 엘리먼트에 이벤트 핸들러를 등록하는 함수입니다
      function addEventHandle(target, type, callback) {
        if (target.addEventListener) {
            target.addEventListener(type, callback);
        } else {
            target.attachEvent('on' + type, callback);
        }
      }

      // 카테고리 검색을 요청하는 함수입니다
      function searchPlaces() {
        if (!currCategory) {
            return;
        }
        
        // 커스텀 오버레이를 숨깁니다 
        placeOverlay.setMap(null);

        // 지도에 표시되고 있는 마커를 제거합니다
        removeMarker();
        
        ps.categorySearch(currCategory, placesSearchCB, {useMapBounds:true}); 
      }

      // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
      function placesSearchCB(data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {

            // 정상적으로 검색이 완료됐으면 지도에 마커를 표출합니다
            displayPlaces(data);
        } else if (status === kakao.maps.services.Status.ZERO_RESULT) {
            // 검색결과가 없는경우 해야할 처리가 있다면 이곳에 작성해 주세요

        } else if (status === kakao.maps.services.Status.ERROR) {
            // 에러로 인해 검색결과가 나오지 않은 경우 해야할 처리가 있다면 이곳에 작성해 주세요
            
        }
      }

      // 지도에 마커를 표출하는 함수입니다
      function displayPlaces(places) {

        // 몇번째 카테고리가 선택되어 있는지 얻어옵니다
        // 이 순서는 스프라이트 이미지에서의 위치를 계산하는데 사용됩니다
        var order = document.getElementById(currCategory).getAttribute('data-order');

        

        for ( var i=0; i<places.length; i++ ) {

                // 마커를 생성하고 지도에 표시합니다
                var marker = addMarker(new kakao.maps.LatLng(places[i].y, places[i].x), order);

                // 마커와 검색결과 항목을 클릭 했을 때
                // 장소정보를 표출하도록 클릭 이벤트를 등록합니다
                (function(marker, place) {
                    kakao.maps.event.addListener(marker, 'click', function() {
                        displayPlaceInfo(place);
                    });
                })(marker, places[i]);
        }
      }

      // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
      function addMarker(position, order) {
        var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
            imageSize = new kakao.maps.Size(27, 28),  // 마커 이미지의 크기
            imgOptions =  {
                spriteSize : new kakao.maps.Size(72, 208), // 스프라이트 이미지의 크기
                spriteOrigin : new kakao.maps.Point(46, (order*36)), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                offset: new kakao.maps.Point(11, 28) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
            },
            markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
                marker = new kakao.maps.Marker({
                position: position, // 마커의 위치
                image: markerImage 
            });

        marker.setMap(map); // 지도 위에 마커를 표출합니다
        markers.push(marker);  // 배열에 생성된 마커를 추가합니다

        return marker;
      }

      // 지도 위에 표시되고 있는 마커를 모두 제거합니다
      function removeMarker() {
        for ( var i = 0; i < markers.length; i++ ) {
            markers[i].setMap(null);
        }   
        markers = [];
      }

      // 클릭한 마커에 대한 장소 상세정보를 커스텀 오버레이로 표시하는 함수입니다
      function displayPlaceInfo (place) {
        var content = '<div class="placeinfo">' +
                        '   <a class="title" href="' + place.place_url + '" target="_blank" title="' + place.place_name + '">' + place.place_name + '</a>';   

        if (place.road_address_name) {
            content += '    <span title="' + place.road_address_name + '">' + place.road_address_name + '</span>' +
                        '  <span class="jibun" title="' + place.address_name + '">(지번 : ' + place.address_name + ')</span>';
        }  else {
            content += '    <span title="' + place.address_name + '">' + place.address_name + '</span>';
        }                
      
        content += '    <span class="tel">' + place.phone + '</span>' + 
                    '</div>' + 
                    '<div class="after"></div>';

        contentNode.innerHTML = content;
        placeOverlay.setPosition(new kakao.maps.LatLng(place.y, place.x));
        placeOverlay.setMap(map);  
      }


      // 각 카테고리에 클릭 이벤트를 등록합니다
      function addCategoryClickEvent() {
        var category = document.getElementById('category'),
            children = category.children;

        for (var i=0; i<children.length; i++) {
            children[i].onclick = onClickCategory;
        }
      }

      // 카테고리를 클릭했을 때 호출되는 함수입니다
      function onClickCategory() {
        var id = this.id,
            className = this.className;

        placeOverlay.setMap(null);

        if (className === 'on') {
            currCategory = '';
            changeCategoryClass();
            removeMarker();
        } else {
            currCategory = id;
            changeCategoryClass(this);
            searchPlaces();
        }
      }

      // 클릭된 카테고리에만 클릭된 스타일을 적용하는 함수입니다
      function changeCategoryClass(el) {
        var category = document.getElementById('category'),
            children = category.children,
            i;

        for ( i=0; i<children.length; i++ ) {
            children[i].className = '';
        }

        if (el) {
            el.className = 'on';
        } 
      } 
      function setCenter() {            
      map.setCenter(playlocation);
      }

    </script>
  </div>
</div>


<!--후기목록-->
<div class="perf-content" id="reviews">
  <p class="tab-area-tit">
    <span>관람후기</span>
  </p>
  <!-- Review Create -->
  <div class="review-area-create">
    <div>
      <p>매매, 욕설 등 골든티켓 게시판 운영 규정에 위반되는 글은 사전 통보없이 삭제될 수 있습니다.</p>
      <p style="color: #666;">개인정보가 포함된 내용은 삼가 주시기 바라며, 게시물로 인해 발생하는 문제는 작성자 본인에게 책임이 있습니다.</p>
      <!--리뷰 작성 버튼/모달-->
      <a type="button" data-bs-toggle="modal" data-bs-target="#review-create">
        <img src="http://tkfile.yes24.com/imgNew/sub/rn-btn-review.png" alt="">
      </a>
      <!-- Review create Model -->
      <div class="modal fade" id="review-create" tabindex="-1" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">{{ performance.playname }}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Review-Form -->
              <form id="review-create" action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {% bootstrap_form review_form %}
                {% bootstrap_form reviewPhoto_form %}
              </form>
            </div>
            <div class="modal-footer justify-content-center">
              <button type="submit" class="rc-btn" data-bs-dismiss="modal">취소</button>
              <button type="submit" class="rc-btn" onclick="document.forms['review-create'].submit();">등록</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Review List -->
  <div>
    <ul class="review-list">
      {% if performance.review_set.first %}
      {% for review in reviews %}
        {% if review.playId == performance %}
        <li>
          <div class="ttbox">
            <span class="tt1">작성자</span>
            <span class="tt2"><a href="{% url 'accounts:profile' review.user.pk %}">{{review.user}}</a></span>
            <span class="tt3">{{review.created_at|date:'Y-m-d'}}</span>
            <span class="tt4" style="color: var(--main-color); font-size: 12px;">
              {% if review.grade == "5" %}
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              {% endif %}
              {% if review.grade == "4" %}
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              {% endif %}
              {% if review.grade == "3" %}
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              {% endif %}
              {% if review.grade == "2" %}
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              {% endif %}
              {% if review.grade == "1" %}
              <i class="fa-solid fa-star"></i>
              {% endif %}
            </span>
          </div>
          <div class="reviewbox">
            {% for review_photo in review_photos %}
              {% if review_photo.review_id == review.pk %}
              <img src="{{review_photo.image.url}}" alt="">
              {% endif %}
            {% endfor %}
            <img src="https://dummyimage.com/100x80/b5b5b5/ffffff&text=NO+IMG" alt="">
            <div class="textbox">
              <!-- Review Detail -->
              <!-- Detail modal Btn -->
              <a class="detail-btn" data-bs-toggle="modal" href="#review-{{ review.pk }}" style="border: 0; background: none;">
                {{review.content}}
              </a>
              <!-- Detail Modal -->
              <div class="modal fade" id="review-{{ review.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <!-- Modal Content -->
                  <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h1 class="modal-title fs-5 me-3">
                        관람 후기 
                        <span class="ms-2" style="color: var(--gray-dark-color); font-size: 16px;">
                          {{ review.playId.playname }}
                        </span>
                      </h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Modal Body -->
                    <div class="modal-body" style="height: 700px; overflow-y: scroll">
                      <!-- User Info -->
                      <div class="fs-5 d-flex flex-column align-items-end justify-content-end" id="exampleModalLabel">
                        <div class="d-flex">
                          <div class="pe-3" style="font-size: 14px;">
                            {{ review.user.username }}
                          </div>
                          <div class="px-3" style="border-left: 1px solid var(--gray-light-color); border-right: 1px solid var(--gray-light-color); font-size: 14px;">
                            {{ review.created_at|date:"Y-m-d" }}
                          </div>
                          <div class="d-flex ps-3 align-items-center" style="color: var(--main-color); font-size: 14px;">
                            {% if review.grade == "5" %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            {% endif %}
                            {% if review.grade == "4" %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            {% endif %}
                            {% if review.grade == "3" %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            {% endif %}
                            {% if review.grade == "2" %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            {% endif %}
                            {% if review.grade == "1" %}
                            <i class="fa-solid fa-star"></i>
                            {% endif %}
                          </div>
                        </div>
                        <!-- Btn: Update & Delete -->
                        {% if review.user == request.user %}
                        <div class="d-flex align-items-center" style="font-size: 14px;">
                          <!-- Review update -->
                          <!-- Button trigger modal -->
                          <a data-bs-toggle="modal" href="#update-{{ review.pk }}" style="border: 0; background: none;">
                            <i class="fa-solid fa-pen"></i>
                          </a>
                          <!-- Review delete -->
                          <form action="{% url 'reviews:delete' performance.playid review.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" style="border: 0; background: none; padding-right: 0;">
                              <i class="fa-solid fa-trash-can"></i>
                            </button>
                          </form>
                        </div>
                        {% endif %}
                      </div>
                      {% if review.reviewphoto_set.first %}
                      <!-- Review Photo -->
                      <div class="my-3 d-flex flex-column align-items-center">
                        {% for photo in review.reviewphoto_set.all %}
                        <div class="mb-2" style="width: 10rem; height: 10rem;">
                          <img src="{{ photo.image.url }}" alt="" style="height: 10rem; width:10rem;">
                        </div>
                        {% endfor %}
                      </div>
                      {% endif %}
                      <p style="color: var(--dark-color);">{{ review.content }}</p>
                      <input type="text" name="dataId" id="dataId" value="" readonly style="border: 0; color: var(--dark-color);">
                      <hr>

                      <!-- Comment Create Form -->
                      {% if request.user.is_authenticated %}
                      <form id="comment-form" data-review-id="{{ review.pk }}">
                        {% csrf_token %}
                        {% bootstrap_form comment_form %}
                        <input type="submit" value="댓글생성" style="display: none;">
                      </form>
                      {% endif %}
                      <!-- Comment List -->
                      <div id="comments">
                        <p class="fw-bold">댓글 목록</p>          
                        <hr>
                        {% if review.comment_set.first %}
                          {% for comment in comments %}
                          <div class="d-flex justify-content-between mb-1">
                            <div class="">
                              <p class="mb-2" style="font-weight: 500;">{{ comment.user }}</p>
                              <p>{{ comment.content }}</p>
                            </div>
                            <span>
                              {% if request.user == comment.user %}
                                {{ comment.created_at|date:"Y-m-d" }}
                                <button class="float-end comment-del" onclick="comment_delete(this)" id="comment-delete-{{ comment.pk }}" data-commentdel-id="{{ comment.pk }}" style="border: 0; background: none;">
                                  삭제
                                </button>
                              {% endif %}
                            </span>
                          </div>
                          <hr>
                          {% endfor %}
                        {% else %}
                        <div class="d-flex justify-content-center my-5" style="color: var(--gray-color);">
                          댓글이 없어요...
                        </div>
                        {% endif %}
                          
                      </div>
                    </div>
                  </div>
                  <!-- Modal Content-End -->
                </div>
              </div>
              <!-- Review update Modal -->
              <div class="modal fade" id="update-{{ review.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">
                        관람 후기 수정
                        <span class="ms-2" style="color: var(--gray-dark-color); font-size: 16px;">
                          {{ performance.playname }}
                        </span>
                      </h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <!-- Review update Form -->
                      <!-- Form Custom -->
                      <form id="review-update" action="{% url 'reviews:update' performance.playid review.pk %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- textarea -->
                        <label for="id_textarea">관람후기</label>
                        <textarea name="content" id="id_textarea" class="form-control" cols="30" rows="10">{{ review.content }}</textarea>
                        <!-- select -->
                        <label for="id_grade">별점</label>
                        <select name="grade" form="review-update" id="id_grade" class="form-select">
                          <option value="" disabled selected>
                            별점을 선택해주세요
                          </option>
                          <option value="1">⭐️</option>
                          <option value="2">⭐️⭐️</option>
                          <option value="3">⭐️⭐️⭐️</option>
                          <option value="4">⭐️⭐️⭐️⭐️</option>
                          <option value="5">⭐️⭐️⭐️⭐️⭐️</option>
                        </select>
                        <!-- image file -->
                        <label for="images">다중 클릭하여 사진을 여러장 올릴 수 있어요!</label>
                        <input type="file" name="image" id="images" class="form-control" accept="image/*" multiple>
                      </form>
                    </div>
                    <div class="modal-footer justify-content-center">
                      <button type="submit" class="rc-btn" data-bs-dismiss="modal">취소</button>
                      <button type="submit" class="rc-btn" onclick="document.forms['review-update'].submit();">수정</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        {% endif %}
      {% endfor %}
      {% else %}
      <div class="d-flex justify-content-center align-items-center py-5" style="color: var(--gray-dark-color);">
        <p class="py-5">등록된 관람후기가 없습니다.</p>
      </div>
      {% endif %}
    </ul>
  </div>
</div>

{% endblock content %}


<!-- JS -->
{% block js %}
<!-- CDN axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- Likes -->
<script>
  const forms = document.querySelectorAll('.like-forms')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

  forms.forEach((form) => {
    form.addEventListener('submit', function(evnet) {
      event.preventDefault();
      const performanceId = event.target.dataset.performanceId
      // request axios
      axios({
        method: 'post',
        url: `/articles/${performanceId}/like/`,
        headers: {'X-CSRFToken': csrftoken}, // csrf token
      })
        // response views
        .then((response) => {
          console.log(response.data)
          const isLiked = response.data.is_liked
          const likeBtn = document.querySelector(`#like-${performanceId}`)
          const starBtn = document.querySelector(`#star-${performanceId}`)
          const likeCountTag = document.querySelector('#like-count')
          const likeCount = response.data.like_count
          likeCountTag.innerText = likeCount
          if (isLiked === true) {
            starBtn
            .classList
            .remove('fa-regular')
            starBtn
            .classList
            .add('fa-solid')
            starBtn.style.color = 'var(--main-color)';
          } else {
            starBtn
            .classList
            .remove('fa-solid')
            starBtn
            .classList
            .add('fa-regular')
            starBtn.style.color = 'var(--main-color)';
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
    })
  })
</script>

<!-- Comment Create -->
<script>
  const commentForm = document.querySelector('#comment-form')
  
  commentForm.addEventListener('submit', function(event){
    event.preventDefault()
    axios({
      method: 'post',
      url: `/reviews/${event.target.dataset.reviewId}/comment_create/`,
      headers: {'X-CSRFToken': csrftoken},
      data: new FormData(commentForm)
    })
    .then(response => {
      console.log(response.data)
      commentForm.reset()
      const comments = document.querySelector('#comments')
      comments.textContent = ""
      const comment_data = response.data.comment_data
      const user = response.data.user

      for (let i = 0; i < comment_data.length; i++){
        const review_pk = response.data.review_pk
        if (user === comment_data[i].user_pk){
          comments.insertAdjacentHTML('beforeend',  
          `
          <div class="d-flex justify-content-between mb-1">
            <div class="">
              <p class="mb-2" style="font-weight: 500;">${ comment_data[i].userName }</p>
              <p>${ comment_data[i].content }</p>
            </div>
            <span>
              ${ comment_data[i].commentDate }
              <button class="float-end comment-del" onclick="comment_delete(this)" id="comment-delete-${comment_data[i].commentPk}" data-commentdel-id="${comment_data[i].commentPk}" style="border: 0; background: none;">
                삭제
              </button>
            </span>
          </div>
          <hr>
          `)
        } else {
          comments.insertAdjacentHTML('beforeend',  
          `
          <p>${ comment_data[i].userName }: ${ comment_data[i].content }</p>
          `)
        }
      }
    })
  })
</script>

<!-- Comment Delete -->
<script>
  
  const comment_delete = (e) => {
    axios({
      method: 'post',
      headers: {'X-CSRFToken': csrftoken},
      url: `/reviews/comment_delete/${event.target.dataset.commentdelId}/`,
    })
    .then(response => {
      console.log(response.data)
      const comments = document.querySelector('#comments')
      comments.textContent = ""
      const comment_data = response.data.comment_data
      const user = response.data.user
      for (let i = 0; i < comment_data.length; i++){
        const review_pk = response.data.review_pk
        if (user === comment_data[i].user_pk){
          comments.insertAdjacentHTML('beforeend',  
          `
          <div class="d-flex justify-content-between mb-1">
            <div class="">
              <p class="mb-2" style="font-weight: 500;">${ comment_data[i].userName }</p>
              <p>${ comment_data[i].content }</p>
            </div>
            <span>
              ${ comment_data[i].commentDate }
              <button class="float-end comment-del" onclick="comment_delete(this)" id="comment-delete-${comment_data[i].commentPk}" data-commentdel-id="${comment_data[i].commentPk}" style="border: 0; background: none;">
                삭제
              </button>
            </span>
          </div>
          <hr>
          `)
        } else {
          comments.insertAdjacentHTML('beforeend',  
          `
          <p>${ comment_data[i].userName }: ${ comment_data[i].content }</p>
          `)
    }
  }
})}
</script>

{% endblock js %}
  