
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'nav.html' %}

<section class="list-sec ">
  <div><p class="li-sec-tit">
		<span class="li-sec-tit1">{{ genrename }}</span>
  <div class="li-sec-tag">
    <span class="li-sec-tag-01 on" id="tag-new"><a style="cursor:pointer;" href="#new" class="tag-btn">신상품순</a></span>
    <span class="li-sec-tag-01" id="tag-old"><a style="cursor:pointer;" href="#end" class="tag-btn">종료임박순</a></span>
  </div>
  <p class="li-sec-result">
    현재 예매 가능한 공연은 총 <span>{{ totalnum }}개</span> 입니다.
  </p>
  <div class="infinite" id="new">
    <div class="ms-list-imgs ms-list-imgs-01 inflist">
      {% for play in news %}
      <a style="cursor:pointer;" href="{% url 'articles:detail' play.playid %}" onclick="" title="{{play.playname}}">
        <div class="list-bigger-wrap">
          <div class="poster">
            <img class="lazyload" alt="" src="{{play.poster}}" >
          </div>
          <div class="list-bigger-txt">
            <p class="list-b-tit1 v2 v2">{{play.playname}}</p>
            <p class="list-b-tit2 v2 v2">{{play.playstdate|date:"Y.m.d"}} ~ {{play.playenddate|date:"Y.m.d"}}</p>
            <p class="list-b-tit2 v2 v2">{{play.locationname}}</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="pagination">
    {% if news.has_other_pages %}
    <ul>
      {% if news.has_previous %}
        <li><a href="?genre={{genrename}}&page={{ news.previous_page_number }}" class="prevPage">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% comment %} {% for i in news.paginator.page_range %}
        {% if news.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?genre={{genrename}}&page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %} {% endcomment %}
        <li class="totalpagenum">{{totalpagenum}}</li>
      {% if news.has_next %}
        <li><a href="?genre={{genrename}}&page={{ news.next_page_number }}" class="nextPage">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
    {% endif %}
  </div>
  
  {% comment %} 종료임박순 {% endcomment %}
  <div class="infinite infinite-old" id="end">
    <div class="ms-list-imgs inflist-old">
      {% for play in olds %}
      <a style="cursor:pointer;" onclick="" href="{% url 'articles:detail' play.playid %}" title="{{play.playname}}">
        <div class="list-bigger-wrap">
          <div class="poster">
            <img class="lazyload" alt="" src="{{play.poster}}" >
          </div>
          <div class="list-bigger-txt">
            <p class="list-b-tit1 v2 v2">{{play.playname}}</p>
            <p class="list-b-tit2 v2 v2">{{play.playstdate|date:"Y.m.d"}} ~ {{play.playenddate|date:"Y.m.d"}}</p>
            <p class="list-b-tit2 v2 v2">{{play.locationname}}</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>



{% endblock content %}


{% block js %}
  {% comment %} <script src="{% static 'js/list.js' %}"></script> {% endcomment %}
  <script>
    const tagList = document.querySelectorAll(".li-sec-tag-01");
    const playList = document.querySelectorAll(".infinite");
    let activeList = ''; // 활성화된 리스트를 담을 변수
  
    for (let i = 0; i < tagList.length; i++) {
      tagList[i].querySelector('.tag-btn').addEventListener('click', function(event) {
        event.preventDefault();
        for (let j = 0; j < tagList.length; j++) {
          tagList[j].classList.remove('on');
          playList[j].style.display = 'none';
        }
        this.parentNode.classList.add('on');
        activeList = this.getAttribute('href');
        document.querySelector(activeList).style.display = 'block';
      });
    }
  </script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="{% static 'js/infinite.js' %}"></script>
{% endblock js %}  


