
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'nav.html' %}

<section class="list-sec ">
  <div><p class="li-sec-tit">
		<span class="li-sec-tit1">{{ genrename }}</span>
  <div class="li-sec-tag">
    <span class="li-sec-tag-01"><a style="cursor:pointer;" href="#new" class="tag-btn on">신상품순</a></span>
    <span class="li-sec-tag-01"><a style="cursor:pointer;" href="#end" class="tag-btn">종료임박순</a></span>
  </div>
  <p class="li-sec-result">
    현재 예매 가능한 공연은 총 <span>{{ playlist|length }}개</span> 입니다.
  </p>
  <div class="ms-list-imgs ms-list-imgs-01" id="new">
    {% for play in playlist %}
    <a style="cursor:pointer;" onclick="" title="{{play.playname}}">
      <div class="list-bigger-wrap">
        <div class="poster">
          <img class="lazyload" alt="" src="{{play.poster}}" >
        </div>
        <div class="list-bigger-txt">
          <p class="list-b-tit1 v2 v2">{{play.playname}}</p>
          <p class="list-b-tit2 v2 v2">{{play.playstdate}} ~ {{play.playenddate}}</p>
          <p class="list-b-tit2 v2 v2">{{play.locationname}}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  {% comment %} 종료임박순 {% endcomment %}
  <div class="ms-list-imgs" id="end">
    {% for play in plist %}
    <a style="cursor:pointer;" onclick="" title="{{play.playname}}">
      <div class="list-bigger-wrap">
        <div class="poster">
          <img class="lazyload" alt="" src="{{play.poster}}" >
        </div>
        <div class="list-bigger-txt">
          <p class="list-b-tit1 v2 v2">{{play.playname}}</p>
          <p class="list-b-tit2 v2 v2">{{play.playstdate}} ~ {{play.playenddate}}</p>
          <p class="list-b-tit2 v2 v2">{{play.locationname}}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</section>




{% endblock content %}


{% block js %}
  {% comment %} <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{% static 'js/list.js' %}"></script> {% endcomment %}
  <script>
    const tagList = document.querySelectorAll(".li-sec-tag-01");
    const playList = document.querySelectorAll(".ms-list-imgs");
    let activeList = ''; // 활성화된 리스트를 담을 변수
  
    for (let i = 0; i < tagList.length; i++) {
      tagList[i].querySelector('.tag-btn').addEventListener('click', function(event) {
        event.preventDefault();
        for (let j = 0; j < tagList.length; j++) {
          tagList[j].classList.remove('on');
          playList[j].style.display = 'none';
        }
        this.parentNode.classList.add('on');
        activeList = this.getAttribute('href');
        document.querySelector(activeList).style.display = 'block';
      });
    }
  </script>

  <script>
    {% comment %} index 장르 전환 비동기 test 중 {% endcomment %}
    const genre_select = (e) => {
      console.log("js실행1")
      console.log(event.target.dataset.testValue)
      const genre = event.target.dataset.testValue
      axios({
        method: 'get',
        url: `/articles/2/${event.target.dataset.testValue}`,
    })
    .then(response => {  
    console.log("js실행2")
    // 내용 없애고
    const playlist = document.querySelector('#new')
    playlist.textContent = "";
    // 데이터 받아서
    const playlist_data = response.data.playlist_data
    const genrename = response.data.genrename
    const playlistlenghth = response.data.playlistlenghth
    for (let i = 0; i < playlist_data.length; i++) {

      comments.insertAdjacentHTML('beforeend', `
      <a style="cursor:pointer;" onclick="" title="${playlist_data[i].playname}">
        <div class="list-bigger-wrap">
          <div class="poster">
            <img class="lazyload" alt="" src="${playlist_data[i].poster}" >
          </div>
          <div class="list-bigger-txt">
            <p class="list-b-tit1 v2 v2">${playlist_data[i].playname}</p>
            <p class="list-b-tit2 v2 v2">${playlist_data[i].playstdate} ~ ${playlist_data[i].playenddate}</p>
            <p class="list-b-tit2 v2 v2">${playlist_data[i].locationname}</p>
          </div>
        </div>
      </a>
      `)
    } }
    )
  }

  </script>
{% endblock js %}  


