{% extends 'base.html' %}


{% block content %}
{% include 'main-nav.html' %}

<!-- Ranking -->
<section class="ranking">
  <div class="container">
    <div class="ranking-wrap">
      <!-- Ranking-Title -->
      <div class="ranking__title">
        <a href="#">
          <h1>RANKING</h1>
        </a>
        <div class="ranking__tag">
          <h3 class="ranking__tag__name"># 뮤지컬</h3>
          <h3 class="ranking__tag__name"># 콘서트</h3>
          <h3 class="ranking__tag__name"># 클래식</h3>
        </div>
      </div>
      <!-- Ranking-List -->
      <div class="ranking__list">
        <div class="ranking__item">
          <div class="ranking__item__img">
            <img src="https://i.pinimg.com/564x/f5/f9/a5/f5f9a5d6c6e28be66c711e24dd66a6c2.jpg" alt="">
          </div>
          <div class="ranking__item__desc">
            <div class="rank-box">순위</div>
            <h6 class="ranking__item__name">
              상품이름
            </h6>
            <p class="ranking__item__date">
              상품날짜
            </p>
          </div>
        </div>
        <div class="ranking__item">
          <div class="ranking__item__img">
            <img src="https://i.pinimg.com/564x/f5/f9/a5/f5f9a5d6c6e28be66c711e24dd66a6c2.jpg" alt="">
          </div>
          <div class="ranking__item__desc">
            <div class="rank-box">순위</div>
            <h6 class="ranking__item__name">
              상품이름
            </h6>
            <p class="ranking__item__date">
              상품날짜
            </p>
          </div>
        </div>
        <div class="ranking__item">
          <div class="ranking__item__img">
            <img src="https://i.pinimg.com/564x/f5/f9/a5/f5f9a5d6c6e28be66c711e24dd66a6c2.jpg" alt="">
          </div>
          <div class="ranking__item__desc">
            <div class="rank-box">순위</div>
            <h6 class="ranking__item__name">
              상품이름
            </h6>
            <p class="ranking__item__date">
              상품날짜
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Ranking-Wrap-End -->
  </div>
</section>

{% include 'sub-footer.html' %}
{% endblock content %}
  