{% extends 'base.html' %}
{% load static %}


{% block content %}
{% include 'main-nav.html' %}

<!-- Ranking -->
<section class="ranking">
  <div class="container">
    <div class="ranking-wrap">
      <!-- Ranking-Title -->
      <div class="ranking__title">
        <a href="{% url 'articles:ranking' %}">
          <h1>RANKING</h1>
        </a>
        <div class="ranking__tag">
          <h3 class="ranking__tag__name on">
            <a href="#tab1" class="tag-btn"># 뮤지컬</a>
          </h3>
          <h3 class="ranking__tag__name">
            <a href="#tab2" class="tag-btn"># 연극</a>
          </h3>
          <h3 class="ranking__tag__name">
            <a href="#tab3" class="tag-btn"># 클래식</a>
          </h3>
          <h3 class="ranking__tag__name">
            <a href="#tab4" class="tag-btn"># 무용</a>
          </h3>
          <h3 class="ranking__tag__name">
            <a href="#tab5" class="tag-btn"># 국악</a>
          </h3>
        </div>
      </div>
      <!-- Ranking-List -->
      <div class="ranking__list ranking__list-01" id="tab1">
        {% for play in musical_rank %}
        <!-- Ranking-Item -->
        <div class="ranking__item">
          <a href="{% url 'articles:detail' play.playid %}">
            <div class="ranking__item__img">
              <img src="{{ play.poster }}" alt="play_image">
            </div>
          </a>
          <div class="ranking__item__desc">
            <div class="rank-box">{{ forloop.counter }}위</div>
            <h6 class="ranking__item__name">
              {{ play.playname }}
            </h6>
            <p class="ranking__item__date">
              {{ play.playstdate }} ~ {{ play.playenddate }}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="ranking__list" id="tab2">
        {% for play in playlist_rank %}
        <!-- Ranking-Item -->
        <div class="ranking__item">
          <a href="{% url 'articles:detail' play.playid %}">
            <div class="ranking__item__img">
              <img src="{{ play.poster }}" alt="play_image">
            </div>
          </a>
          <div class="ranking__item__desc">
            <div class="rank-box">{{ forloop.counter }}위</div>
            <h6 class="ranking__item__name">
              {{ play.playname }}
            </h6>
            <p class="ranking__item__date">
              {{ play.playstdate }} ~ {{ play.playenddate }}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="ranking__list" id="tab3">
        {% for play in classic_rank %}
        <!-- Ranking-Item -->
        <div class="ranking__item">
          <a href="{% url 'articles:detail' play.playid %}">
            <div class="ranking__item__img">
              <img src="{{ play.poster }}" alt="play_image">
            </div>
          </a>
          <div class="ranking__item__desc">
            <div class="rank-box">{{ forloop.counter }}위</div>
            <h6 class="ranking__item__name">
              {{ play.playname }}
            </h6>
            <p class="ranking__item__date">
              {{ play.playstdate }} ~ {{ play.playenddate }}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="ranking__list" id="tab4">
        {% for play in dance_rank %}
        <!-- Ranking-Item -->
        <div class="ranking__item">
          <a href="{% url 'articles:detail' play.playid %}">
            <div class="ranking__item__img">
              <img src="{{ play.poster }}" alt="play_image">
            </div>
          </a>
          <div class="ranking__item__desc">
            <div class="rank-box">{{ forloop.counter }}위</div>
            <h6 class="ranking__item__name">
              {{ play.playname }}
            </h6>
            <p class="ranking__item__date">
              {{ play.playstdate }} ~ {{ play.playenddate }}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="ranking__list" id="tab5">
        {% for play in ktm_rank %}
        <!-- Ranking-Item -->
        <div class="ranking__item">
          <a href="{% url 'articles:detail' play.playid %}">
            <div class="ranking__item__img">
              <img src="{{ play.poster }}" alt="play_image">
            </div>
          </a>
          <div class="ranking__item__desc">
            <div class="rank-box">{{ forloop.counter }}위</div>
            <h6 class="ranking__item__name">
              {{ play.playname }}
            </h6>
            <p class="ranking__item__date">
              {{ play.playstdate }} ~ {{ play.playenddate }}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- Ranking-Wrap-End -->
  </div>
</section>


<!-- Audio -->
<section class="audio">
  <div class="container">
    <div class="audio-wrap">
      <div class="audio__desc">
        <h1>FOCUS <span class="main-color">ON</span></h1>
        <h1 class="audio__title">뮤지컬 <br/>캣츠</h1>
        <p>전 세계가 사랑한 명작 <br/>오리지널 매력 그대로 컴백!</p>
      </div>
      <div class="audio__play">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/efrNjq39de8?autoplay=0&autohide=1" title="YouTube video player" frameborder="0" modestbranding="0" controls="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>


<!-- Play -->
<section class="concert">
  <div class="container">
    <div class="concert-wrap">
      <div class="concert__title">
        <div class="under-line-01"></div>
        <a href="{% url 'articles:index' %}?genre=연극">
          <h1>PLAY</h1>
        </a>
        <div class="under-line-01"></div>
      </div>
      <!-- Concert-List -->
      <div class="concert__list">
        {% for play in playlist %}
        <a href="{% url 'articles:detail' play.playid %}">
          <div class="concert__list__item">
            <img src="{{ play.poster }}" alt="">
            <p>{{ play.playname }}</p>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<hr>


<!-- Musical -->
<section class="musical">
  <div class="container">
    <div class="concert-wrap">
      <div class="concert__title">
        <div class="under-line-02"></div>
        <a href="{% url 'articles:index' %}?genre=뮤지컬">
          <h1>MUSICAL</h1>
        </a>
        <div class="under-line-02"></div>
      </div>
      <!-- Concert-List -->
      <div class="concert__list">
        {% for musical in musical_list %}
        <a href="{% url 'articles:detail' musical.playid %}">
          <div class="concert__list__item">
            <img src="{{ musical.poster }}" alt="">
            <p>{{ musical.playname }}</p>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<hr>


<!-- Classic -->
<section class="classic">
  <div class="container">
    <div class="concert-wrap">
      <div class="concert__title">
        <div class="under-line-03"></div>
        <a href="{% url 'articles:index' %}?genre=클래식">
          <h1>CLASSIC</h1>
        </a>
        <div class="under-line-03"></div>
      </div>
      <!-- Concert-List -->
      <div class="concert__list">
        {% for classic in classic_list %}
        <a href="{% url 'articles:detail' classic.playid %}">
          <div class="concert__list__item">
            <img src="{{ classic.poster }}" alt="">
            <p>{{ classic.playname }}</p>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<br>
<br>

<!-- slide banner -->
<section>
  <div class="con">
    <div class="slider-container">
      <div class="slider">
        <a href="{% url 'articles:search' %}?search=엘리자벳">
        <img src="http://tkfile.yes24.com/Upload2/Display/202210/20221005/wel_wide_43656.png/dims/quality/70/" alt="">
      </a>
      </div>
      <div class="slider">
        <a href="{% url 'articles:search' %}?search=킹키부츠">
        <img src="http://tkfile.yes24.com/Upload2/Display/202210/20221005/wel_wide_43682.png/dims/quality/70/" alt="">
      </a>
      </div>
      <div class="slider">
        <a href="http://127.0.0.1:8000/articles/d/PF200398/">
        <img src="http://ticketimage.interpark.com/TCMS4/Main/202210/MainBarBanner_MainBarBanner2_d9308e1d-c954-4eb9-ba48-a68838b73af5.jpg" style="width: 1700px; height=500px;" alt="">
      </a>
      </div>
    </div>
    <div class="prevbnt" onclick="plusSlide(-1)">&#10094;</div>
    <div class="nextbnt" onclick="plusSlide(1)">&#10095;</div>
    <div class="lines">
      <div class="bnrline" onclick="currentSlide(1)"></div>
      <div class="bnrline" onclick="currentSlide(2)"></div>
      <div class="bnrline" onclick="currentSlide(3)"></div>
    </div> 
  </div>
</section>
<br>
<br>
<br>



<!-- Dance -->
<section class="dance">
  <div class="container">
    <div class="concert-wrap">
      <div class="concert__title">
        <div class="under-line-04"></div>
        <a href="{% url 'articles:index' %}?genre=무용">
          <h1>Dance</h1>
        </a>
        <div class="under-line-04"></div>
      </div>
      <!-- Concert-List -->
      <div class="concert__list">
        {% for dance in dance_list %}
        <a href="{% url 'articles:detail' dance.playid %}">
          <div class="concert__list__item">
            <img src="{{ dance.poster }}" alt="">
            <p>{{ dance.playname }}</p>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<hr>



<!-- Korean tranditional music-->
<section class="ktm">

  <div class="container">
    <div class="concert-wrap">
      <div class="concert__title">
        <div class="under-line-05"></div>
        <a href="{% url 'articles:index' %}?genre=국악">
          <h1>Korea Music</h1>
        </a>
        <div class="under-line-05"></div>
      </div>
      <!-- Concert-List -->
      <div class="concert__list">
        {% for ktm in ktm_list %}
        <a href="{% url 'articles:detail' ktm.playid %}">
          <div class="concert__list__item">
            <img src="{{ ktm.poster }}" alt="">
            <p>{{ ktm.playname }}</p>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<br>




{% endblock content %}

{% block js %}
<script src="{% static 'js/main.js' %}" defer></script>
{% endblock js %}

