{% extends 'base.html' %}


{% block content %}
{% include 'main-nav.html' %}

<!-- Ranking -->
<section class="ranking">
  <div class="container">
    <div class="ranking-wrap">
      <!-- Ranking-Title -->
      <div class="ranking__title">
        <a href="#">
          <h1>RANKING</h1>
        </a>
        <div class="ranking__tag">
          <h3 class="ranking__tag__name"># 뮤지컬</h3>
          <h3 class="ranking__tag__name"># 콘서트</h3>
          <h3 class="ranking__tag__name"># 클래식</h3>
        </div>
      </div>
      <!-- Ranking-List -->
      <div class="ranking__list">
        <div class="ranking__item">
          <div class="ranking__item__img">
            <img src="https://i.pinimg.com/564x/f5/f9/a5/f5f9a5d6c6e28be66c711e24dd66a6c2.jpg" alt="">
          </div>
          <div class="ranking__item__desc">
            <div class="rank-box">순위</div>
            <h6 class="ranking__item__name">
              상품이름
            </h6>
            <p class="ranking__item__date">
              상품날짜
            </p>
          </div>
        </div>
        <div class="ranking__item">
          <div class="ranking__item__img">
            <img src="https://i.pinimg.com/564x/f5/f9/a5/f5f9a5d6c6e28be66c711e24dd66a6c2.jpg" alt="">
          </div>
          <div class="ranking__item__desc">
            <div class="rank-box">순위</div>
            <h6 class="ranking__item__name">
              상품이름
            </h6>
            <p class="ranking__item__date">
              상품날짜
            </p>
          </div>
        </div>
        <div class="ranking__item">
          <div class="ranking__item__img">
            <img src="https://i.pinimg.com/564x/f5/f9/a5/f5f9a5d6c6e28be66c711e24dd66a6c2.jpg" alt="">
          </div>
          <div class="ranking__item__desc">
            <div class="rank-box">순위</div>
            <h6 class="ranking__item__name">
              상품이름
            </h6>
            <p class="ranking__item__date">
              상품날짜
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Ranking-Wrap-End -->
  </div>
</section>


<!-- Audio -->
<section class="audio">
  <div class="container">
    <div class="audio-wrap">
      <div class="audio__desc">
        <h1>FOCUS <span class="main-color">ON</span></h1>
        <h1 class="audio__title">뮤지컬 <br/>캣츠</h1>
        <p>전 세계가 사랑한 명작 <br/>오리지널 매력 그대로 컴백!</p>
      </div>
      <div class="audio__play">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/efrNjq39de8?autoplay=0&autohide=1" title="YouTube video player" frameborder="0" modestbranding="0" controls="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>


<!-- Concert -->
<section class="concert">
  <div class="container">
    <div class="concert-wrap">
      <div class="concert__title">
        <div class="under-line-01"></div>
        <a href="#">
          <h1>CONCERT</h1>
        </a>
        <div class="under-line-01"></div>
      </div>
      <!-- Concert-List -->
      <div class="concert__list">
        <a href="#">
          <div class="concert__list__item">
            <img src="https://i.pinimg.com/564x/97/0e/fe/970efe687dfd12b9e7242b0fcd472db7.jpg" alt="">
            <p>상품제목</p>
          </div>
        </a>
        <div class="concert__list__item">
          <img src="https://i.pinimg.com/564x/97/0e/fe/970efe687dfd12b9e7242b0fcd472db7.jpg" alt="">
          <p>상품제목</p>
        </div>
        <div class="concert__list__item">
          <img src="https://i.pinimg.com/564x/97/0e/fe/970efe687dfd12b9e7242b0fcd472db7.jpg" alt="">
          <p>상품제목</p>
        </div>
        <div class="concert__list__item">
          <img src="https://i.pinimg.com/564x/97/0e/fe/970efe687dfd12b9e7242b0fcd472db7.jpg" alt="">
          <p>상품제목</p>
        </div>
        <div class="concert__list__item">
          <img src="https://i.pinimg.com/564x/97/0e/fe/970efe687dfd12b9e7242b0fcd472db7.jpg" alt="">
          <p>상품제목</p>
        </div>
        <div class="concert__list__item">
          <img src="https://i.pinimg.com/564x/97/0e/fe/970efe687dfd12b9e7242b0fcd472db7.jpg" alt="">
          <p>상품제목</p>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>


<!-- Musical -->
<section class="musical">
  <div class="container">
    <div class="concert-wrap">
      <div class="concert__title">
        <div class="under-line-02"></div>
        <a href="#">
          <h1>MUSICAL</h1>
        </a>
        <div class="under-line-02"></div>
      </div>
      <!-- Concert-List -->
      <div class="concert__list">
        <a href="#">
          <div class="concert__list__item">
            <img src="https://i.pinimg.com/564x/ea/62/5d/ea625d01ae0c1d671d90d594def19c67.jpg" alt="">
            <p>상품제목</p>
          </div>
        </a>
        <div class="concert__list__item">
          <img src="https://i.pinimg.com/564x/ea/62/5d/ea625d01ae0c1d671d90d594def19c67.jpg" alt="">
          <p>상품제목</p>
        </div>
        <div class="concert__list__item">
          <img src="https://i.pinimg.com/564x/ea/62/5d/ea625d01ae0c1d671d90d594def19c67.jpg" alt="">
          <p>상품제목</p>
        </div>
        <div class="concert__list__item">
          <img src="https://i.pinimg.com/564x/ea/62/5d/ea625d01ae0c1d671d90d594def19c67.jpg" alt="">
          <p>상품제목</p>
        </div>
        <div class="concert__list__item">
          <img src="https://i.pinimg.com/564x/ea/62/5d/ea625d01ae0c1d671d90d594def19c67.jpg" alt="">
          <p>상품제목</p>
        </div>
        <div class="concert__list__item">
          <img src="https://i.pinimg.com/564x/ea/62/5d/ea625d01ae0c1d671d90d594def19c67.jpg" alt="">
          <p>상품제목</p>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>


<!-- Classic -->
<section class="classic">
  <div class="container">
    <div class="concert-wrap">
      <div class="concert__title">
        <div class="under-line-03"></div>
        <a href="#">
          <h1>CLASSIC</h1>
        </a>
        <div class="under-line-03"></div>
      </div>
      <!-- Concert-List -->
      <div class="concert__list">
        <a href="#">
          <div class="concert__list__item">
            <img src="https://i.pinimg.com/564x/b6/7c/5b/b67c5b6f251fdadb29ac1e3163a54adf.jpg" alt="">
            <p>상품제목</p>
          </div>
        </a>
        <div class="concert__list__item">
          <img src="https://i.pinimg.com/564x/b6/7c/5b/b67c5b6f251fdadb29ac1e3163a54adf.jpg" alt="">
          <p>상품제목</p>
        </div>
        <div class="concert__list__item">
          <img src="https://i.pinimg.com/564x/b6/7c/5b/b67c5b6f251fdadb29ac1e3163a54adf.jpg" alt="">
          <p>상품제목</p>
        </div>
        <div class="concert__list__item">
          <img src="https://i.pinimg.com/564x/b6/7c/5b/b67c5b6f251fdadb29ac1e3163a54adf.jpg" alt="">
          <p>상품제목</p>
        </div>
        <div class="concert__list__item">
          <img src="https://i.pinimg.com/564x/b6/7c/5b/b67c5b6f251fdadb29ac1e3163a54adf.jpg" alt="">
          <p>상품제목</p>
        </div>
        <div class="concert__list__item">
          <img src="https://i.pinimg.com/564x/b6/7c/5b/b67c5b6f251fdadb29ac1e3163a54adf.jpg" alt="">
          <p>상품제목</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'sub-footer.html' %}
{% endblock content %}
  