{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}

<section class="list-sec">
  <div><p class="li-sec-tit">
		<span class="li-sec-tit1">연극</span>
  <p class="li-sec-tag">
    <span><a style="cursor:pointer;" token="0" >신상품순</a></span>
    <span><a style="cursor:pointer;" token="1">종료임박순</a></span>
    <span><a style="cursor:pointer;" token="2">상품명순</a></span>
  </p>
  <p class="li-sec-result">
    현재 예매 가능한 공연은 총 <span>{{ playlist|length }}개</span> 입니다.
  </p>
  <div class="ms-list-imgs">
    {% for play in playlist %}
    <a style="cursor:pointer;" onclick="" title="{{play.playname}}">
      <div class="list-bigger-wrap">
        <div class="poster">
        <img class="lazyload" alt="" src="{{play.poster}}" >
        </div>
        <div class="list-bigger-txt">
          <p class="list-b-tit1 v2 v2">{{play.playname}}</p>
          <p class="list-b-tit2 v2 v2">{{play.playstdate}} ~ {{play.playenddate}}</p>
          <p class="list-b-tit2 v2 v2">{{play.locationname}}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</section>

{% endblock content %}
  