{% extends 'base.html' %}



{% block content %}
{% include 'nav.html' %}

{% if search_list %}
<div class="container">
  <!-- Search-Top -->
  <div class="search-top">
    <h3 class="mb-3"><span>'{{search}}'</span> 에 대한 검색 결과입니다.</h3>
    <div class="nav__search">
      <form action="{% url 'articles:search' %}" role='search' id='searchfunc1'>
        <input type="text" id="search-type-02" name='search'>
        <button type="submit" onclick="">
          <i class="fa-solid fa-magnifying-glass fa-lg m-0"></i>
        </button>
      </form>
      <script>
        const btn1 = document.getElementById("searchfunc1")
        btn1.addEventListener("submit", function(event) {
          val = document.getElementById("search-type-01").value.length
          console.log(val)
          if(val <= 1) {
            event.preventDefault()
            alert("검색어는 2글자 이상 입력해주세요")
          }
        })
      </script>
    </div>
  </div>


  <!-- Search-word -->
  <div class="search-word">
    <div class="sw-left">
      <h4>(<span class="shap">#</span>) 추천 검색어</h4>
    </div>
    <div class="sw-right">
      <div class="sw-tag">
        <p># 마룬파이브</p>
      </div>
      <div class="sw-tag">
        <p># 서툰 사람들</p>
      </div>
    </div>
  </div>


  <!-- Search-List -->
  <div class="search-list">
    {% for play in search_list %}
    <!-- Search-Item -->
    <div class="search-item">
      <a href="{% url 'articles:detail' play.playid %}">
        <img src="{{ play.poster }}" alt="poster">
      </a>
      <div class="search-desc">
        <div class="search-item__title">{{ play.playname }}</div>
        <div class="search-desc-in">
          <div class="search-item__date">{{ play.playstdate }}~{{ play.playenddate }}</div>
          <div class="search-item__location">{{ play.locationname }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="search-top">
      <h3 class="m-3 text-center"><span>'{{search}}'</span> 에 대한 검색 결과가 없습니다.</h3>
      <div class="nav__search">
        <form action="{% url 'articles:search' %}" role='search' id='searchfunc2'>
          <input type="text" id="search-type-02" name='search'>
          <button type="submit" onclick="">
            <i class="fa-solid fa-magnifying-glass fa-lg m-0"></i>
          </button>
        </form>
        <script>
          const btn2 = document.getElementById("searchfunc2")
          btn2.addEventListener("submit", function(event) {
            val = document.getElementById("search-type-02").value.length
            console.log(val)
            if(val <= 1) {
              event.preventDefault()
              alert("검색어는 2글자 이상 입력해주세요")
            }
          })
        </script>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% include 'sub-footer.html' %}
{% endblock content %}
  