{% extends 'base.html' %}



{% block content %}
{% include 'nav.html' %}

{% if search_list %}
<div class="container">
  <!-- Search-Top -->
  <div class="search-top">
    <h3 class="mb-3"><span>'{{search}}'</span> 에 대한 검색 결과입니다.</h3>
    <div class="nav__search">
      <!-- Search Form -->
      <form action="{% url 'articles:search' %}" role='search' id='searchfunc1'>
        <input type="text" id="search-type-02" name='search'>
        <button type="submit" onclick="">
          <i class="fa-solid fa-magnifying-glass fa-lg m-0"></i>
        </button>
      </form>
      <script>
        const btn1 = document.getElementById("searchfunc1")
        btn1.addEventListener("submit", function(event) {
          val = document.getElementById("search-type-01").value.length
          console.log(val)
          if(val <= 1) {
            event.preventDefault()
            alert("검색어는 2글자 이상 입력해주세요")
          }
        })
      </script>
    </div>
  </div>


  <!-- Search-word -->
  <div class="search-word">
    <div class="sw-left">
      <h4>(<span class="shap">#</span>) 추천 검색어</h4>
    </div>
    <!-- Search Tag -->
    <div class="sw-right">
      <div class="d-flex">
        <a href="#" onclick="document.forms['search-01'].submit();">
          <div class="sw-tag">
            <p># 지브리</p>
          </div>
        </a>
        <a href="#" onclick="document.forms['search-02'].submit();">
          <div class="sw-tag">
            <p># 서툰 사람들</p>
          </div>
        </a>
        <a href="#" onclick="document.forms['search-03'].submit();">
          <div class="sw-tag">
            <p># 미수</p>
          </div>
        </a>
        <a href="#" onclick="document.forms['search-04'].submit();">
          <div class="sw-tag">
            <p># 드라큘라</p>
          </div>
        </a>
        <a href="#" onclick="document.forms['search-05'].submit();">
          <div class="sw-tag">
            <p># 택시</p>
          </div>
        </a>
        <a href="#" onclick="document.forms['search-06'].submit();">
          <div class="sw-tag">
            <p># 옥탑방 고양이</p>
          </div>
        </a>
        <a href="#" onclick="document.forms['search-07'].submit();">
          <div class="sw-tag">
            <p># 예술의전당</p>
          </div>
        </a>
      </div>
    </div>
    <!-- Hidden Form -->
    <div class="">
      <form id="search-01" method="get" action="{% url 'articles:search' %}">
        {% csrf_token %}
        <input type="hidden" id="search" name="search" value="지브리">
      </form>
      <form id="search-02" method="get" action="{% url 'articles:search' %}">
        {% csrf_token %}
        <input type="hidden" id="search" name="search" value="서툰 사람들">
      </form>
      <form id="search-03" method="get" action="{% url 'articles:search' %}">
        {% csrf_token %}
        <input type="hidden" id="search" name="search" value="미수">
      </form>
      <form id="search-04" method="get" action="{% url 'articles:search' %}">
        {% csrf_token %}
        <input type="hidden" id="search" name="search" value="드라큘라">
      </form>
      <form id="search-05" method="get" action="{% url 'articles:search' %}">
        {% csrf_token %}
        <input type="hidden" id="search" name="search" value="택시">
      </form>
      <form id="search-06" method="get" action="{% url 'articles:search' %}">
        {% csrf_token %}
        <input type="hidden" id="search" name="search" value="옥탑방 고양이">
      </form>
      <form id="search-07" method="get" action="{% url 'articles:search' %}">
        {% csrf_token %}
        <input type="hidden" id="search" name="search" value="예술의전당">
      </form>
    </div>
    <!-- Hidden Form-End -->
  </div>


  <!-- Search-List -->
  <div class="search-list">
    {% for play in search_list %}
    <!-- Search-Item -->
    <div class="search-item">
      <a href="{% url 'articles:detail' play.playid %}">
        <img src="{{ play.poster }}" alt="poster">
      </a>
      <div class="search-desc">
        <div class="search-item__title">{{ play.playname }}</div>
        <div class="search-desc-in">
          <div class="search-item__date">{{ play.playstdate|date:"Y.m.d" }} ~ {{ play.playenddate|date:"Y.m.d" }}</div>
          <div class="search-item__location">{{ play.locationname }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="search-top">
      <h3 class="m-3 text-center"><span>'{{search}}'</span> 에 대한 검색 결과가 없습니다.</h3>
      <div class="nav__search">
        <form action="{% url 'articles:search' %}" role='search' id='searchfunc2'>
          <input type="text" id="search-type-02" name='search'>
          <button type="submit" onclick="">
            <i class="fa-solid fa-magnifying-glass fa-lg m-0"></i>
          </button>
        </form>
        <script>
          const btn2 = document.getElementById("searchfunc2")
          btn2.addEventListener("submit", function(event) {
            val = document.getElementById("search-type-02").value.length
            console.log(val)
            if(val <= 1) {
              event.preventDefault()
              alert("검색어는 2글자 이상 입력해주세요")
            }
          })
        </script>
      </div>
    </div>
    {% endif %}
  </div>
</div>


{% include 'sub-footer.html' %}
{% endblock content %}
  