<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

  <!-- Main-Nav -->
  <nav class="main-nav">
    <div class="container">
      <div class="main-nav__wrap">
        <div class="m-nav__logo">
          <i class="fa-solid fa-bars-staggered fa-xl"></i>
          <h1>
            <a href="{% url 'articles:main' %}">
              <img src="{% static 'img/golden_ticket.png' %}" alt="logo" width="120" height="80">
            </a>
          </h1>
        </div>
        <ul class="m-nav__nav">
          <li class="m-nav__nav__item hover-underline-animation"><a href="{% url 'accounts:index' %}">accounts</a></li>
          <li class="m-nav__nav__item hover-underline-animation"><a href="{% url 'articles:index' %}">articles</a></li>
          <li class="m-nav__nav__item hover-underline-animation"><a href="{% url 'reviews:index' %}">reviews</a></li>
        </ul>
        <div class="m-nav__search">
          <form id="search-form" action="#">
            <input type="text" id="search-type">
            <a href="#" onclick="#">
              <i class="fa-solid fa-magnifying-glass fa-xl"></i>
            </a>
          </form>
          <a href="{% url 'accounts:index' %}">
            <i class="fa-regular fa-user fa-xl"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>


  <!-- Visual -->
  <section class="visual" aria-label="Newest Photos">
    <div class="carousel" data-carousel>
      <ul class="slide__list carousel_inner" data-slides>
        <li class="slide slide__item carousel_item carousel_item__active" data-active>
          <img class="slide__image carousel_img" src="http://tkfile.yes24.com/Upload2/Display/202211/20221107/wel_mv_43842_2.jpg/dims/quality/70/" alt="Nature Image #1">
        </li>
        <li class="slide carousel_item">
          <img class="slide__image carousel_img" src="http://tkfile.yes24.com/Upload2/Display/202210/20221028/wel_mv_43889_1.jpg/dims/quality/70/" alt="Nature Image #2">
        </li>
        <li class="slide carousel_item">
          <img class="slide__image carousel_img" src="http://tkfile.yes24.com/Upload2/Display/202211/20221110/wel_mv_44048.jpg/dims/quality/70/" alt="Nature Image #3">
        </li>
      </ul>
      <button class="carousel-button prev" data-carousel-button="prev">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button class="carousel-button next" data-carousel-button="next">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </section>

</body>
</html>