<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GoldenTicket</title>
</head>
<body>
  <!-- Main-Nav -->
  <nav class="main-nav">
    <div class="container">
      <div class="main-nav__wrap">
        <div class="m-nav__logo">
          <div class="logo-wrap d-flex align-items-center">
            <input type="checkbox" id="menuicon">
            <label for="menuicon">
              <span></span>
              <span></span>
              <span></span>
            </label>
            <!-- Side Bar -->
            <div class="sidebar">
              <div class="ham_" style="color: #fff"></div>
              <div class="sidebar-menu">
                <ul class="pf-gnb-my-5 mx-4" style="text-align: center;">
                  <li class="dropdown w-100">
                    <a href="{% url 'articles:index' %}?genre=연극" class="w-100">
                      <span class="dd-title" style="color: #fff;">연극</span>
                    </a>
                    <ul class="hide-box">
                      <li><a href="#" style="color: #fff"><p>- 신상품순</p></a></li>
                      <li><a href="#" style="color: #fff"><p>- 종료임박순</p></a></li>
                    </ul>
                  </li>
                  <li class="dropdown w-100">
                    <a href="{% url 'articles:index' %}?genre=연극" class="w-100">
                      <span class="dd-title" style="color: #fff;">클래식</span>
                    </a>
                    <ul class="hide-box">
                      <li><a href="#" style="color: #fff"><p>- 신상품순</p></a></li>
                      <li><a href="#" style="color: #fff"><p>- 종료임박순</p></a></li>
                    </ul>
                  </li>
                  <li class="dropdown w-100">
                    <a href="{% url 'articles:index' %}?genre=연극" class="w-100">
                      <span class="dd-title" style="color: #fff;">무용</span>
                    </a>
                    <ul class="hide-box">
                      <li><a href="#" style="color: #fff"><p>- 신상품순</p></a></li>
                      <li><a href="#" style="color: #fff"><p>- 종료임박순</p></a></li>
                    </ul>
                  </li>
                  <li class="dropdown w-100">
                    <a href="{% url 'articles:index' %}?genre=연극" class="w-100">
                      <span class="dd-title" style="color: #fff;">뮤지컬</span>
                    </a>
                    <ul class="hide-box">
                      <li><a href="#" style="color: #fff"><p>- 신상품순</p></a></li>
                      <li><a href="#" style="color: #fff"><p>- 종료임박순</p></a></li>
                    </ul>
                  </li>
                  <li class="dropdown w-100">
                    <a href="{% url 'articles:index' %}?genre=연극" class="w-100">
                      <span class="dd-title" style="color: #fff;">국악</span>
                    </a>
                    <ul class="hide-box">
                      <li><a href="#" style="color: #fff"><p>- 신상품순</p></a></li>
                      <li><a href="#" style="color: #fff"><p>- 종료임박순</p></a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <h1 style="text-align: center;">
                <a href="{% url 'articles:main' %}">
                  <img src="{% static 'img/logogray.png' %}" alt="logo" width="160" height="90">
                </a>
              </h1>
            </div>
            <!-- Side Bar-End -->
            <h1>
              <a href="{% url 'articles:main' %}">
                <img src="{% static 'img/logogray.png' %}" alt="logo" width="160" height="90">
              </a>
            </h1>
          </div>
          <ul class="m-nav__nav">
            <li class="m-nav__nav__item hover-underline-animation"><a href="{% url 'articles:index' %}?genre=연극"><p style="color:#fff">연극</p></a></li>
            <li class="m-nav__nav__item hover-underline-animation"><a href="{% url 'articles:index' %}?genre=클래식"><p style="color:#fff">클래식</p></a></li>
            <li class="m-nav__nav__item hover-underline-animation"><a href="{% url 'articles:index' %}?genre=무용"><p style="color:#fff">무용</p></a></li>
            <li class="m-nav__nav__item hover-underline-animation"><a href="{% url 'articles:index' %}?genre=뮤지컬"><p style="color:#fff">뮤지컬</p></a></li>
            <li class="m-nav__nav__item hover-underline-animation"><a href="{% url 'articles:index' %}?genre=국악"><p style="color:#fff">국악</p></a></li>
          </ul>
          <div class="m-nav__search">
            <form id="search-form" action="{% url 'articles:search' %}" role='search'>
              <input type="text" id="search-type" name='search' style="color: var(--white-color);">
              <a href="{% url 'articles:search' %}" role='search' onclick="#">
                <i class="fa-solid fa-magnifying-glass fa-xl"></i>
              </a>
            </form>
            <!-- User Profile -->
            <div class="ms-3">
              {% if request.user.is_authenticated %}
                <a href="{% url 'accounts:profile' request.user.pk %}">
                  <img src="{{ request.user.profile_image }}" alt="profile_image" width="45" height="45" style="border-radius: 50%;">
                </a>
                {% else %}
                <a href="{% url 'accounts:login' %}">
                  <i class="fa-regular fa-user fa-xl"></i>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <!-- Main-Nav__Wrap-End -->
    </div>
  </nav>


  <!-- Visual -->
  <div class="slideshow-container">
    <div class="myslides ">
      <img src="http://tkfile.yes24.com/Upload2/Display/202211/20221107/wel_mv_43842_2.jpg/dims/quality/70/" alt="">
    </div>
    <div class="myslides ">
      <img src="http://tkfile.yes24.com/Upload2/Display/202211/20221114/wel_mv_44090.jpg/dims/quality/70/" alt="">
    </div>
    <div class="myslides ">
      <img src="http://tkfile.yes24.com/Upload2/Display/202211/20221110/wel_mv_44048.jpg/dims/quality/70/" alt="">
    </div>
    <div class="myslides ">
      <img src="http://tkfile.yes24.com/Upload2/Display/202210/20221027/wel_mv_43907.jpg/dims/quality/70/" alt="">
    </div>
    <div class="myslides ">
      <img src="http://tkfile.yes24.com/Upload2/Display/202211/20221103/wel_mv_43937_1.jpg/dims/quality/70/" alt="">
    </div>
    <div class="myslides ">
      <img src="http://tkfile.yes24.com/Upload2/Display/202211/20221116/wel_mv_btv.jpg/dims/quality/70/" alt="">
    </div>
    <div class="myslides ">
      <img src="http://tkfile.yes24.com/Upload2/Display/202207/20220720/wel_mv_.png/dims/quality/70" alt="">
    </div>
    <div class="myslides ">
      <img src="http://tkfile.yes24.com/Upload2/Display/202210/20221017/wel_mv_2022.jpg/dims/quality/70/" alt="">
    </div>
  </div>

  <div class="prev" onclick="plusS(-1)">&#10094;</div>
  <div class="next" onclick="plusS(1)">&#10095;</div>
  <br>

  <div style="text-align:center">
    <span class="dot" onclick="currentS(1)"></span>
    <span class="dot" onclick="currentS(2)"></span>
    <span class="dot" onclick="currentS(3)"></span>
    <span class="dot" onclick="currentS(4)"></span>
    <span class="dot" onclick="currentS(5)"></span>
    <span class="dot" onclick="currentS(6)"></span>
    <span class="dot" onclick="currentS(7)"></span>
    <span class="dot" onclick="currentS(8)"></span>
  </div>

  
{% block js %}
<script>
// Carousel
var slideIndex = 1;
showSlides(slideIndex);

function plusS(n) {
  showSlides(slideIndex += n);
}

function currentS(n) {
  showSlides(slideIndex=n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("myslides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i=0;i<dots.length;i++){
    dots[i].className=dots[i].className.replace("active");
  }
  slides[slideIndex - 1].style.display = "block";
  dots[slideIndex - 1].className += "active";
}

//auto
var  slideIndex = 0;
showSlides();

function showSlides() {
  var i ;
  var slides= document.getElementsByClassName("myslides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = 'none';
  }
  slideIndex++;
  if (slideIndex > slides.length) {
    slideIndex = 1
  }
  slides[slideIndex -1].style.display = "block";
  setTimeout(showSlides,3500);
}
</script>
{% endblock js %}
  
</body>
</html>