<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- Nav -->
  <nav class="sub-nav">
    <div class="container">
      <div class="main-nav__wrap">
        <div class="m-nav__logo">
          <input type="checkbox" id="menuicon_nav">
            <label for="menuicon_nav">
              <span></span>
              <span></span>
              <span></span>
            </label> 
          <div class="sidebar">
            <div class="ham_" style="color: #fff opacity:1"></div>
            <div class="sidebar-menu">
              <ul class="pf-gnb-my-5 mx-4">
                <li class="dropdown mb-3 ">
                  <a href="{% url 'articles:index' %}?genre=연극">
                    <span class="m-nav__nav__item hover-underline-animation" style="color: #fff">연극</span>
                  </a>
                  <ul>
                    <li><a href="" style="color: #fff">신상품순</a></li>
                    <li><a href="" style="color: #fff">종료임박순</a></li>
                  </ul>
                </li>
                <li class="mb-3">
                  <a href="{% url 'articles:index' %}?genre=클래식" id="hamm">
                      <span class="m-nav__nav__item hover-underline-animation" style="color: #fff">클래식</span>
                  </a>
                  <ul id="div1">
                    <li><a href="" style="color: #fff">신상품순</a></li>
                    <li><a href="" style="color: #fff">종료임박순</a></li>
                  </ul>
                </li>
                <li class="mb-3">
                  <a href="{% url 'articles:index' %}?genre=무용">
                      <span class="m-nav__nav__item hover-underline-animation" style="color: #fff">무용</span>
                  </a>
                  <ul>
                    <li><a href="" style="color: #fff">신상품순</a></li>
                    <li><a href="" style="color: #fff">종료임박순</a></li>
                  </ul>
                </li>
                <li class="mb-3">
                  <a href="{% url 'articles:index' %}?genre=뮤지컬">
                      <span class="m-nav__nav__item hover-underline-animation" style="color: #fff">뮤지컬</span>
                  </a>
                  <ul>
                    <li><a href="" style="color: #fff">신상품순</a></li>
                    <li><a href="" style="color: #fff">종료임박순</a></li>
                  </ul>
                </li>
                <li class="mb-3">
                  <a href="{% url 'articles:index' %}?genre=국악">
                      <span class="m-nav__nav__item hover-underline-animation" style="color: #fff">국악</span>
                  </a>
                  <ul>
                    <li><a href="" style="color: #fff">신상품순</a></li>
                    <li><a href="" style="color: #fff">종료임박순</a></li>
                  </ul>
                </li>
              </ul>
          </div>
          <h1>
            <a href="{% url 'articles:main' %}">
              <img src="{% static 'img/golden_ticket.png' %}" alt="logo" width="120" height="80">
            </a>
          </h1>
        </div>
        <h1>
          <a href="{% url 'articles:main' %}">
            <img src="{% static 'img/golden_ticket.png' %}" alt="logo" width="120" height="80">
          </a>
        </h1>
        <ul class="m-nav__nav">
          <li class="nav__nav__item hover-underline-animation"><a href="{% url 'articles:index' %}?genre=연극">연극</a></li>
          <li class="nav__nav__item hover-underline-animation"><a href="{% url 'articles:index' %}?genre=클래식">클래식</a></li>
          <li class="nav__nav__item hover-underline-animation"><a href="{% url 'articles:index' %}?genre=무용">무용</a></li>
          <li class="nav__nav__item hover-underline-animation"><a href="{% url 'articles:index' %}?genre=뮤지컬">뮤지컬</a></li>
          <li class="nav__nav__item hover-underline-animation"><a href="{% url 'articles:index' %}?genre=국악">국악</a></li>
        </ul>
        <div class="nav__search">
          <form action="{% url 'articles:search' %}" role='search' id='searchfunc3'>
            <input type="text" id="search-type-02" name='search'>
            <button type="submit" onclick="">
              <i class="fa-solid fa-magnifying-glass fa-lg m-0"></i>
            </button>
          </form>
          <!-- Search length -->
          <script>
            const btn3 = document.getElementById("searchfunc3")
            btn3.addEventListener("submit", function(event) {
              val = document.getElementById("search-type-03").value.length
              console.log(val)
              if(val <= 1) {
                event.preventDefault()
                alert("검색어는 2글자 이상 입력해주세요")
              }
            })
          </script>
          <!-- User Profile -->
          <div class="ms-3">
            {% if request.user.is_authenticated %}
              <a href="{% url 'accounts:profile' request.user.pk %}">
                <img src="{{ request.user.profile_image }}" alt="profile_image" width="45" height="45" style="border-radius: 50%;">
              </a>
              {% else %}
              <a href="{% url 'accounts:login' %}">
                <i class="fa-regular fa-user fa-xl"></i>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>

</body>
</html>

{% block js %}

{% endblock js %} 