<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

  <!-- Nav -->
  <nav class="nav" style="color: #000; ">
    <div class="container">
      <div class="main-nav__wrap">
        <div class="m-nav__logo">
          <i class="fa-solid fa-bars-staggered fa-xl"></i>
          <h1>
            <a href="{% url 'articles:main' %}">
              <img src="{% static 'img/golden_ticket.png' %}" alt="logo" width="120" height="80">
            </a>
          </h1>
        </div>
        <ul class="m-nav__nav">
          <li class="nav__nav__item hover-underline-animation"><a href="{% url 'accounts:index' %}">accounts</a></li>
          <li class="nav__nav__item hover-underline-animation"><a href="{% url 'articles:index' %}">articles</a></li>
          <li class="nav__nav__item hover-underline-animation"><a href="{% url 'reviews:index' %}">reviews</a></li>
        </ul>
        <div class="nav__search">
          <form action="#">
            <input type="text" id="search_type_1">
            <a href="#" onclick="#">
              <i class="fa-solid fa-magnifying-glass fa-xl"></i>
            </a>
          </form>
          <a href="{% url 'accounts:index' %}">
            <i class="fa-regular fa-user fa-xl"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>

</body>
</html>