<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

  <!-- Nav -->
  <nav class="nav" style="color: #000; ">
    <div class="container">
      <div class="main-nav__wrap">
        <div class="m-nav__logo">
          <input type="checkbox" id="menuicon_nav">
            <label for="menuicon">
              <span></span>
              <span></span>
              <span></span>
            </label>
          <div class="sidebar">
            <div class="ham_" style="color: #fff opacity:1">
              <input class="ham_input" type="checkbox" id="menuicon_nav" class="my-3">
              <label for="menuicon">
                <span></span>
                <span></span>
                <span></span>
              </label>
            </div>
            <div class="sidebar-menu">
              <div>
              <ul class="pf-gnb-my-5 mx-4">
                <li class="dropdown mb-3 ">
                  <a href="{% url 'articles:index' %}?genre=연극">
                    <span class="m-nav__nav__item hover-underline-animation" style="color: #fff">연극</span>
                  </a>
                  <ul class="dropdown-content">
                    <li><a href="" style="color: #fff">신상품순</a></li>
                    <li><a href="" style="color: #fff">종료임박순</a></li>
                  </ul>
                </li>
                <li class="mb-3">
                  <a href="{% url 'articles:index' %}?genre=클래식" id="hamm">
                      <span class="m-nav__nav__item hover-underline-animation" style="color: #fff">클래식</span>
                  </a>
                  <ul id="div1">
                    <li><a href="" style="color: #fff">신상품순</a></li>
                    <li><a href="" style="color: #fff">종료임박순</a></li>
                  </ul>
                </li>
                <li class="mb-3">
                  <a href="{% url 'articles:index' %}?genre=무용">
                      <span class="m-nav__nav__item hover-underline-animation" style="color: #fff">무용</span>
                  </a>
                  <ul>
                    <li><a href="" style="color: #fff">신상품순</a></li>
                    <li><a href="" style="color: #fff">종료임박순</a></li>
                  </ul>
                </li>
                <li class="mb-3">
                  <a href="{% url 'articles:index' %}?genre=뮤지컬">
                      <span class="m-nav__nav__item hover-underline-animation" style="color: #fff">뮤지컬</span>
                  </a>
                  <ul>
                    <li><a href="" style="color: #fff">신상품순</a></li>
                    <li><a href="" style="color: #fff">종료임박순</a></li>
                  </ul>
                </li>
                <li class="mb-3">
                  <a href="{% url 'articles:index' %}?genre=국악">
                      <span class="m-nav__nav__item hover-underline-animation" style="color: #fff">국악</span>
                  </a>
                  <ul>
                    <li><a href="" style="color: #fff">신상품순</a></li>
                    <li><a href="" style="color: #fff">종료임박순</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        <h1>
          <a href="{% url 'articles:main' %}">
            <img src="{% static 'img/golden_ticket.png' %}" alt="logo" width="120" height="80">
          </a>
        </h1>
        </div>
        <h1>
          <a href="{% url 'articles:main' %}">
            <img src="{% static 'img/golden_ticket.png' %}" alt="logo" width="120" height="80">
          </a>
        </h1>
        <ul class="m-nav__nav">
          <li class="nav__nav__item hover-underline-animation"><a href="{% url 'articles:index' %}?genre=연극">연극</a></li>
          <li class="nav__nav__item hover-underline-animation"><a href="{% url 'articles:index' %}?genre=클래식">클래식</a></li>
          <li class="nav__nav__item hover-underline-animation"><a href="{% url 'articles:index' %}?genre=무용">무용</a></li>
          <li class="nav__nav__item hover-underline-animation"><a href="{% url 'articles:index' %}?genre=뮤지컬">뮤지컬</a></li>
          <li class="nav__nav__item hover-underline-animation"><a href="{% url 'articles:index' %}?genre=국악">국악</a></li>
          <li class="nav__nav__item hover-underline-animation"><a onclick="genre_select(this)" data-genre-value="play" data-test-value="연극">연극(test)</a></li>
          <li class="nav__nav__item hover-underline-animation"><a href="{% url 'accounts:index' %}">accounts</a></li>
        </ul>
        <div class="nav__search">
          <form  action="{% url 'articles:search' %}" role='search'>
            <input type="text" id="search_type_1" name='search'>
            <a href="{% url 'articles:search' %}" onclick="#">
              <i class="fa-solid fa-magnifying-glass fa-xl"></i>
            </a>
          </form>
          <a href="{% url 'accounts:index' %}">
            <i class="fa-regular fa-user fa-xl"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>

</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  {% comment %} index 장르 전환 비동기 test 중 {% endcomment %}

  const genre_select = (e) => {
    console.log("js실행1")
    console.log(event.target.dataset.genreValue)
    const genre = event.target.dataset.genreValue
    axios({
      method: 'get',
      url: `/articles/2/${event.target.dataset.genreValue}`,
    })
  .then(response => {  
  console.log("js실행3")
  // 내용 없애고
  const playlist = document.querySelector('#new')
  playlist.textContent = "";
  // 데이터 받아서
  const playlist_data = response.data.playlist_data
  const genrename = response.data.genrename
  const playlistlenghth = response.data.playlistlenghth
  for (let i = 0; i < playlist_data.length; i++) {

    playlist.insertAdjacentHTML('beforeend', `
    <a style="cursor:pointer;" onclick="" title="${playlist_data[i].playname}">
      <div class="list-bigger-wrap">
        <div class="poster">
          <img class="lazyload" alt="" src="${playlist_data[i].poster}" >
        </div>
        <div class="list-bigger-txt">
          <p class="list-b-tit1 v2 v2">${playlist_data[i].playname}</p>
          <p class="list-b-tit2 v2 v2">${playlist_data[i].playstdate} ~ ${playlist_data[i].playenddate}</p>
          <p class="list-b-tit2 v2 v2">${playlist_data[i].locationname}</p>
        </div>
      </div>
    </a>
    `)
  } }
  )
}

</script>
</html>