<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GoldenTicket</title>
</head>
<body>
  
  <!-- Sub-Footer -->
  <div class="sub-footer">
    <div class="container">
      <div class="sf-wrap">
        <!-- Sub-Left -->
        <div class="sf-left">
          <h1 class="sf-number">2022-1122</h1>
          <table class="sf-walking"> 
            <tr>
              <th>기 간</th>
              <td>11:09 ~ 11:21</td>
              <td class="gray">(공휴일 휴무)</td> 
            </tr>
            <tr>
              <th>발 표</th>
              <td>11:22 ~ 11:00</td>
            </tr>
          </table>
        </div>
        <div class="line"></div>
        <!-- Sub-Center -->
        <div class="sf-center">
          <div class="sf-item">
            <i class="fa-regular fa-bookmark fa-3x"></i>
            <p>공지사항</p>
          </div>
          <div class="sf-item">
            <i class="fa-regular fa-calendar-check fa-3x"></i>
            <p>이용안내</p>
          </div>
          <div class="sf-item">
            <i class="fa-regular fa-comments fa-3x"></i>
            <p>FAQ</p>
          </div>
          <div class="sf-item">
            <i class="fa-solid fa-ticket-simple fa-3x"></i>
            <p>티켓판매안내</p>
          </div>
        </div>
        <div class="line"></div>
        <!-- Sub-Right -->
        <div class="sf-right">
          <div class="sf-social">
            <a href="https://ko-kr.facebook.com/login.php/">
              <i class="fa-brands fa-facebook-f fa-xl"></i>
            </a>
            <a href="https://www.instagram.com/">
              <i class="fa-brands fa-instagram fa-xl"></i>
            </a>
            <a href="https://www.kakaocorp.com/page/">
              <i class="fa-solid fa-comment fa-xl"></i>
            </a>
          </div>
          <div class="sf-social">
            <a href="https://www.google.co.kr/">
              <span><i class="fa-brands fa-google"></i>Google Play</span>
            </a>
            <a href="https://www.apple.com/kr/">
              <span><i class="fa-brands fa-apple"></i>Apple Store</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>